[2020-09-03 20:37] WilliamJamieson opened #3 "HEMCO doesn't build with gfortran"
HEMCO_GridComp won't build under gfortran listing errors such as:
[code]

[2020-09-16 14:26] #3 closed

[2020-09-24 19:20] WilliamJamieson opened #9 "RC codes in Process_Library"
There are many optional return codes (`rc`) in the Process_Library that are directly assigned to without checking if the `rc` is present. If one calls a routine without specifying the optional `rc` this will cause a runtime error (Segmentation fault).

[2020-09-29 14:48] #9 closed

[2021-02-05 17:12] rmontuoro opened #18 "Selection of resolution-dependent scaling factors could be extended/refactored to cover external (non-NASA) grids"
Resolution-dependent scaling factors used to modulate sea salt emissions are selected based on standard NASA cubic grid resolutions (C48, C90, C180, C360, C720). These resolutions are hardcoded in function `Chem_UtilResVal()`, included in the process library.

Since GOCART may now be driven using external grids (as in the case of UFS), the function above could be extended to include other global g

[2021-02-05 17:26] tclune commented on #18
Hmm.  This is somewhat surprising - GEOS generally tries very hard to express everything in an resolution-independent manner.   I'll work with Elliot and Arlindo to see if the list should be expanded or the approach re-thought.    E.g., the list already does not include resolutions that we sometimes run (C12, C1440), though the former are not for science and the latter generally is without GOCART.

[2021-02-05 17:30] mathomp4 commented on #18
@tclune This might be more prevalent in GEOS than you think. Moist has code that I'm always a bit iffy on:
[code]
To me it seems like we should use things like `AREA` from FV3, say. Because, what if stretched grid? Then the "grid size" could be radically different in places.

[2021-02-05 17:32] tclune commented on #18
Actually I easily "believe" that the problem is common.    I've just been told not to allow that sort of things by senior staff on occasion.

[2021-02-11 19:14] tclune commented on #18
I've not forgotten about this issue.   Even managed a brief somewhat cryptic exchange with Arlindo about best approach.   My thinking is to move the resolution boundaries into the RC file.  Then one either needs to have a grid-type agnostic resolution parameter (e.g., DX along the equator) that is generated by MAPL for selecting the relevant case, _or_ have a separate block for each allowed grid t

[2021-02-11 19:21] mathomp4 commented on #18
I will say that I think the first one is probably "better" in that it might support stretched grids in the future. Since you could have 10 km `DX` in one column and then 10000 km at its antipodal column, if the code only cared about `DX` (or `AREA`, whatever) for the current column, then you would still have the "right" value for that column.

[2021-02-11 19:31] amolod commented on #18
nathan did something about the other res-dependant parameter settings in the
model as he was using the periodic boundary conditions option in dycore, and
also for single column model. may be worth checking with him about what he did.

-------------------------------
Andrea M. Molod, Ph.D.
Global Modeling and Assimilation Office
NASA Goddard Space Flight Center
Desk: 301-614-6845
------------------

[2021-02-11 19:56] mathomp4 commented on #18
Pinging @narnold1 ... 😄

[2021-02-11 20:12] narnold1 commented on #18
I did change the resolution-dependent parameters in Moist to vary smoothly with AREA, but the code was non-zero-diff, and there never seemed a good time to make it "official"...  I can revive that code to address this problem in Moist and Turb, but Tom's approach may be the easiest universal fix in the short term.

[2021-02-11 20:41] narnold1 commented on #18
My old code was based on Icarus-1, and only exists now on CVS branch b_npa_dp3 (_does_ that exist?).  The idea was to associate the parameter values at the time with the median AREA for each resolution, and interpolate between them.  Examples below. Horizontal bars show the range of AREA for each grid.
![image](https://user-images.githubusercontent.com/53791641/107695365-79330d00-6c7e-11eb-923f-14

[2021-02-11 20:58] mathomp4 commented on #18
@narnold1 I do see the code on CVS, yes. Though it's possible we'd want a "generic" routine (in MAPL?) that does what you did. Load a yaml with parameters or something and apply the interpolator over the area points provided, etc.

[2021-02-12 15:17] narnold1 commented on #18
@mathomp4 I like the idea of a generic routine to do this.

[2021-02-12 15:46] tclune commented on #18
I'll try to run this approach (grid-cell dependent parameter fill) past Arlindo and Anton for the GOCART use case.  I think it makes more sense than a global value that still depends on resolution.     But ... it is not zero diff, and there may be additional expense to carrying an array instead of a scalar.

[2021-02-12 19:51] adarmenov commented on #18
Agreed - (globally uniform) parameter interpolation based on grid-cell area would be the way to go in cases of (approximately) equal-area grids. Extending this approach for other type of grids and allowing for spatially varying parameter as a function of the grid-cell area, sound good, however I am concerned about how would one determine the tabulated values in practice.

Perhaps expressing this p

[2021-03-01 21:22] mathomp4 opened #26 "Repository needs updated CODEOWNERS"
This repo at present does not have a `CODEOWNERS` file. I can add one, I just need to know who to put in it. I mean, I guess @gmao-esherman should be there in some way.

I suppose it should reflect the [GEOSchem_GridComp CODEOWNERS](https://github.com/GEOS-ESM/GEOSchem_GridComp/blob/develop/.github/CODEOWNERS) file. But should I make a new "GOCART2G Team"?

ETA: Actually, there was a `CODEOWNERS`

[2021-03-01 21:30] gmao-esherman commented on #26
Yes, you can add me to the file.

[2021-03-02 06:36] rmontuoro opened #28 "Volcanic SO2 emissions read incorrectly in UFS-GOCART"
Volcanic SO2 emissions are read incorrectly in UFS-GOCART. This might be related to inconsistent grid coordinate units when running MAPL with an external grid, and it is connected to MAPL closed issue [#680](https://github.com/GEOS-ESM/MAPL/issues/680) affecting point source emissions.

The picture below shows the `SO2EMVN` diagnostic variable as written by History:

<img width="720" alt="image" s

[2021-03-02 06:46] rmontuoro opened #29 "Input monochromatic wavelengths in nm for consistency"
In the GOCART2G resource file, monochromatic wavelengths need to be provided in meters while other wavelengths are in `nm`:

[code]

Using `nm` also for monochromatic wavelengths may improve consistency and prevent possible mistakes.

[2021-03-02 06:55] rmontuoro opened #30 "Process library APIs must return error status"
GOCART2G process library procedures must return an error status to allow the calling application to gracefully handle errors.

They also should not include `stop` statements, which may cause the application to hang.

[2021-03-02 12:45] tclune commented on #26
Yes - and I think @adarmenov should also be added.   He can thank me later.  :-)

[2021-03-02 13:57] tclune commented on #28
Assigning to @bena-nasa

[2021-03-02 13:58] tclune commented on #29
Assigned this issue to @adarmenov

[2021-03-02 14:12] gmao-esherman commented on #29
Arlindo wanted the aerosol_monochromatic_optics_wavelength values in nanometers. This how they are written in my [branch](https://github.com/GEOS-ESM/GOCART/blob/feature/esherman/gocart2g_develop_MAPLconst/ESMF/GOCART2G_GridComp/GOCART2G_GridComp.rc). We convert these wavelengths to meters when we call Aero_Compute_Diags.

[2021-03-02 14:35] WilliamJamieson commented on #28
@bena-nasa can you take a look at this?

[2021-03-02 14:36] gmao-esherman commented on #29
@tclune I don't know why the wavelengths are in meters the first comment. The wavelength values are in nanometers in my branch (please see the link in my previous comment).

I don't think it is up to me to decide if these changes go in.

[2021-03-02 14:38] adarmenov commented on #29
Agreed, for the sake of consistency and readability the units in this case should be 'nm'.

[2021-03-02 14:41] adarmenov commented on #29
@gmao-esherman what is the use of the 'monochromatic' wavelengths label/resource?

[2021-03-02 15:01] gmao-esherman commented on #29
The _aerosol_monochromatic_optics_wavelength:_ are used by the aerosol components to create the diagnostic Mie tables, and used in the call to compute aerosol diagnostics.

These values used to be set in each aerosol's resource file (e.g. DU2G_GridComp_DU.rc). This implementation was a bit clumsy and makes it harder on the user. We now set this in GOCART2G_GridComp.rc and pass this information dow

[2021-03-02 17:05] rmontuoro commented on #29
Thanks, @gmao-esherman - I see the changes in your PR #23. I'll close this issue once your PR has been merged.

[2021-03-02 17:06] tclune commented on #29
Ok - good; glad we are on the same page then.    I did not mean to imply at all that this was your decision - just that you were much more likely to recall the details of that discussion with Arlindo than myself.

[2021-03-02 18:13] bena-nasa commented on #28
@WilliamJamieson was trying to teach me how to build and run the test. We had build issues, once those are sorted out a few prints should pinpoint the problem.

[2021-03-03 21:24] bena-nasa commented on #28
I have found the problem. I've made a PR in MAPL to fix this https://github.com/GEOS-ESM/MAPL/pull/736
There was another bug in the implementation. I tested this in the UFS code and it seems to be assigning correctly here is an example:
[code]
The numbers are the processor, the assigned index i,j for that point, the values of the point that needs to be assigned to a grid cell if in the local domai

[2021-03-04 05:03] rmontuoro commented on #28
Additional changes might be needed to solve this issue. See [comment](https://github.com/GEOS-ESM/MAPL/pull/736#issuecomment-790291896) in PR [#736](https://github.com/GEOS-ESM/MAPL/pull/736).

[2021-03-05 19:14] WilliamJamieson commented on #30
Addressed by PR #31.

[2021-03-05 19:14] #30 closed

[2021-03-05 19:51] WilliamJamieson opened #32 "Remove print comments or convert them to pFlogger calls"
In reviewing the GOCART2G code, I have notice that there are many blocks of prints which appear to have been commented out. For example in the `NI2G_GridComp` there is the following block ([see 808 - 813](https://github.com/GEOS-ESM/GOCART/issues/28)):
[code]
There are many more examples scattered throughout all the other GOCART2G GridComps.

It looks like these blocks are being toggled on and off

[2021-03-05 20:14] WilliamJamieson opened #33 "GOCART legacy causes error when building standalone GOCART"
GOCART's `develop` branch was capable of being built standalone prior to the reintroduction of GOCART legacy. This is a nice feature for CI testing. Due to this issue the CI testing was limited to just testing if the GOCART2G target builds, which ignores all of the UFS related code. Hence, GOCART-legacy should be updated, so that GOCART's `develop` branch can start building standalone.

I think th

[2021-03-08 18:13] bena-nasa commented on #28
This is now fixed in develop of MAPL

[2021-03-08 18:13] #28 closed

[2021-03-08 18:39] mathomp4 commented on #32
@tclune was misspelled. Adding to ping him...

[2021-03-08 18:46] tclune commented on #32
Yes - these are debugging calls by @gmao-esherman, I'm fairly sure.         He should be the one to decide whether the need for these is now over (or nearly so) or if there is some long term value.  In the latter case, we should convert to pFlogger.  (But maybe not immediately, as impi has a bug that is likely to cause problems.)

[2021-03-18 16:36] #26 closed

[2021-03-23 17:36] mathomp4 opened #46 "Call to fill out Changelog!"
This is mainly a place for discussion, etc. from @rmontuoro and @gmao-esherman. Namely, I recently added the Changelog enforcer on GOCART since, well, if you have a Changelog, you should use it!

But, when I recently "created" a good-ish Changelog in `main`, I didn't really fill out much in the `Unreleased` section as I don't know GOCART well enough. But, comparing `develop` to `main` shows there

[2021-03-23 17:56] gmao-esherman commented on #46
There were only structural changes with GOCART, right? GOCART from `develop` should zero-diff with GOCART v1.0.1. Maybe we can just say the changes were only structural.

[2021-03-23 19:08] mathomp4 commented on #46
Well, I guess I mean all the GOCART2G things you've done. And all the UFS-y stuff that Raffaele has done. GOCART1G is "static" really in `develop`. But 2G has changed!

[2021-03-29 16:09] rmontuoro opened #47 "Establish naming conventions for procedures in GOCART process library"
It would benefit future shared development to establish naming guidelines for procedures included in the GOCART process library, as well as for their arguments.

[2021-03-29 16:16] rmontuoro opened #48 "Parallelize loops with OpenMP"
Loops could be parallelized using OpenMP to potentially increase GOCART runtime performance. This is crucial for operational applications.

OpenMP directive could be guarded in order to be more finely controlled and to prevent issues with existing applications, if necessary.

[2021-04-05 20:36] rmontuoro opened #49 "Add NOAA/ARL FENGSHA dust scheme"
The FENGSHA dust scheme needs to be added as an optional scheme for the GOCART dust component.
This scheme, developed at NOAA/ARL, will be used in the UFS weather model.

[2021-04-06 16:06] tclune commented on #49
@amdasilva has pointed out that some important updates to dust are in the process of being ported to 2G.    These changes will have some ramifications to this issue, and the merge will be need to be delayed until then.    I don't have a precise timeline, but we can ask for that at the telecon this Friday.

[2021-04-08 19:05] rmontuoro opened #53 "Reorganize GOCART process library into separate files"
It seems beneficial to reorganize the GOCART process library source code into separate units, as pointed out by @tclune. This will provide a code base easier to maintain.

One option would be to arrange the library into separate modules, each including only the procedures required by one GOCART component (_e.g._ DU, SS, etc.) .

[2021-04-22 18:50] #46 closed

[2021-04-22 18:57] mathomp4 opened #54 "GOCART2G and MERRA2 Emissions: Update QFED?"
I'm not sure if this is an @adarmenov or @pcolarco question...so I've tagged you both. 😄

Namely, I tried running with MERRA2 Emissions today in the year of 2019 (trying to trigger a different issue) and, of course, things go boom:
[code]
This is because QFED v2.4r6 doesn't exist in 2019. I used Ops emissions and got past this.

So I thought well, maybe this is fixed in GOCART2G, but:
https://gith

[2021-04-22 19:16] adarmenov commented on #54
@mathomp4  The name MERRA2 is a misnomer... The model version, setup, etc. has little to do with M2.

To answer your question, FP and M2 are using QFED-2.5, so changing the QFED version from 2.4 to 2.5 would be fine. With that said, you are likely to hit other problems (e.g. the constituents file used in PCHEM) if you try to run the MERRA2 configuration of the box for a more recent date.

In case

[2021-04-22 19:27] mathomp4 commented on #54
@adarmenov Cool. Thanks. I leave updating these things to the scientists, I just get lazy and choose 'defaults' when I make experiments. I now realize I am lucky my "standard" test restarts are in Y2000; one year earlier and I would have been in a world of hurt when the default went from CMIP to MERRA2 :)

[2021-04-22 19:56] pcolarco commented on #54
Matt-

I have no idea who all I’m replying to here…I’m not up to speed on git ticketing and how I should interact with it.

That said, I think I can make requested updates for you in some limited way. However there appear to be 8 different configurations of emission possible. I am checking with Arlindo but there is really no way to maintain and ensure these work for arbitrary user and I will recom

[2021-05-25 17:19] mmanyin opened #57 "Add OH_GridComp"
An OH_GridComp exists in Icarus-vintage code.  It is a key part of the ECCOH functionality (coupled CO/CH4/OH).  As such, it should be integrated into the legacy GOCART routines.

[2021-06-23 20:03] rmontuoro opened #60 "Inconsistent OH units assumed in SU component"
Input OH is provided as `#/cm3`. However, `SulfateUpdateOxidants()` assumes input OH to be in `mol/mol` and converts mixing rations again to `#/cm3`:

https://github.com/GEOS-ESM/GOCART/blob/87072fc09e966f022ca9118939785a1823c3bf92/Process_Library/GOCART2G_Process.F90#L4637-L4639

Input OH units should be checked and converted only if needed.

[2021-06-23 20:32] gmao-esherman commented on #60
I could not find any SU2G_GridComp_ExtData.rc file that references a file that has OH in units of `#/cm3`. All referenced files, that I know of, provide OH in units of `mol/mol`.

What file are you using that has OH in units of `#/cm3`, and is it referenced in SU2G_GridComp_ExtData.rc?

[2021-06-23 20:42] rmontuoro commented on #60
`SU2G_GridComp_ExtData.rc` shows OH units to be `'1'`. However, the files I've received from GMAO include OH in units of `#/cm3`. See, for example, file `gmi_oh_ch4_h2o2_no3.x144_y91_z64_t12.2006.nc`:

[code]

[2021-06-23 20:48] gmao-esherman commented on #60
That's interesting. I am not familiar with that file. The default OPS emissions file here is in units of `mol/mol` : https://github.com/GEOS-ESM/GOCART/blob/87072fc09e966f022ca9118939785a1823c3bf92/ESMF/GOCART2G_GridComp/SU2G_GridComp/SU2G_GridComp_ExtData.rc#L58-L60

Maybe @amdasilva or another aerosol expert could provide more information about that file, or if it even should be used.

[2021-06-23 21:38] rmontuoro commented on #60
The wrong file was being used as source for the oxidants. Closing this issue.

[2021-06-23 21:38] #60 closed

[2021-07-13 15:21] mathomp4 commented on #54
I just now encountered an issue with this. I was trying to run GOCART2G with MERRA2 emissions and now it turns out you can't run that in the year 2000! Why? Well something in GOCART2G is using the v2.5 NRT QFED. So...yeah. I guess you either use NRT exclusively and have a lower-end limit of emissions or not use NRT and cap the year you can run in? (CC @gmao-esherman )

[2021-07-14 15:57] pcolarco commented on #54
@mathomp4 I get this message. This needs a larger conversation in the aerosol group. @amdasilva needs to be part of this.

[2021-07-30 16:22] rmontuoro opened #64 "Incorrect Aerosol Optical Depth"
Wavelength-dependent Aerosol Optical Depths (AODs) are computed incorrectly due to `aerosol_monochromatic_optics_wavelength` being read as a list of integers as opposed to reals by the GOCART2G gridded component.

This array of wavelengths (channels) are provided in units of `m` and therefore read as `0`s:

[code]
These wavelengths are further multiplied by `1.e-09` internally before computing AOD

[2021-07-30 16:40] tclune commented on #64
@rmontuoro  Agreed.   I know @amdasilva had strong opinions on whether things were in nm or m.   I thought he preferred nm, so I'm a bit surprised the other form survived review.

Do you have a PR, or should I assign this to @weiyuan-jiang ?

[2021-07-30 16:46] rmontuoro commented on #64
@tclune - PR #65 addresses this issue. Please let me know your preference regarding renaming the config label.

[2021-08-04 18:46] rmontuoro opened #69 "Add wet removal efficiency parameters to config files for external tuning"
It would be helpful to include _wet removal efficiency_ (`fwet`) as a tuning parameter in each of the GOCART2G subcomponents for increased flexibility.

[2021-08-05 12:11] tclune opened #70 "Use DSOs?"
During the development of GOCART2G,  we updated the rest of the GCM to use DSOs and thereby eliminated compile time dependencies between components.    GOCART2G has not been updated in that manner.

Should this be done _before_ v2.0.0 or after?

[2021-08-06 15:53] mathomp4 opened #72 "Invalid Fortran in Process Library"
@tclune - is this valid Fortran?
[code]
Should this be:
[code]

_Originally posted by @rmontuoro in https://github.com/GEOS-ESM/GOCART/pull/68#discussion_r684301009_

[2021-08-06 15:54] mathomp4 opened #73 "Clean up nm to m conversion in GOCART2G"
`wavelengths_diagmie` is still declared as `integer`: https://github.com/GEOS-ESM/GOCART/blob/58af7747eba91dc597c65485a5e4e781cb25deca/ESMF/GOCART2G_GridComp/GOCART2G_GridCompMod.F90#L113
which is inconsistent with `self%wavelengths_profile` and `self%wavelengths_vertint` (`real`).

I would still recommend including changes from PR #65 into this branch to address this issue and streamline the code

[2021-08-06 15:58] mathomp4 commented on #72
Adding this in:

@rmontuoro I talked with @tclune and he agrees this is an issue. For now we will approve (since Intel is at least "working") and merge what is here but I'll make an issue to fix this. I don't want to try and untangle this:

https://github.com/GEOS-ESM/GOCART/blob/58af7747eba91dc597c65485a5e4e781cb25deca/Process_Library/GOCART2G_Process.F90#L3551-L3558

on a Friday afternoon!

[2021-08-06 16:01] rmontuoro commented on #72
I understand and I'm aware that it is working with Intel, but it should be addressed soon.

[2021-08-06 21:44] #49 closed

[2021-11-04 02:02] amdasilva opened #84 "GOCART2G hardwires wavelengths 470, 550, 670 and 870 nm."
# The Problem

Unlike legacy GOCART, GOCART2G allows export diagnostics to be provided on multiple wavelengths. This is accomplished by these entries in GOCAR2G_GridComp.rc:

`# Set optics parameters
# ---------------------
aerosol_monochromatic_optics_wavelength_in_nm_from_LUT: 470 550 670 870
wavelengths_for_profile_aop_in_nm: 532 550           # must be included in LUT
wavelengths_for_verticall

[2021-12-14 22:09] amdasilva opened #87 "Add new Resource File Instance for GEOS-IT"
# What is it?

The new GEOS-IT that is starting in late 2021 is based on GOCART tag v1.0.1 which only contains the old Legacy GOCART implementation. To improve the simulation of anthopogenic aerosols we will use the CEDS emissions.

# New Feature
This new resource file instance should use the CEDS anthropogenic emissions and the MODAPS based (non-NRT, LANCE) version of QFED.  Dust and Seasalt will

[2021-12-16 17:00] rtodling commented on #87
In Chem this can not incorporate the change in Henry's Law for ammonia - agreement reached at NWP group. This is motivated by the fact that 5.29 will be used for FP and more importantly for the long-run of GEOS-IT.

[2021-12-16 18:13] rtodling commented on #87
unfortunately the changes for emissions are causing the model to crash:

pe=00287 FAIL at line=02059    MAPL_ExtDataGridCompMod.F90              <Clim year must be month template "%m2">
pe=00287 FAIL at line=01042    MAPL_ExtDataGridCompMod.F90              <status=1>
pe=00287 FAIL at line=01840    MAPL_Generic.F90                         <needs informative message>

I have tested that use of the

[2021-12-16 18:19] rtodling commented on #87
I think I found the problem ... testing ...

[2021-12-16 18:22] bena-nasa commented on #87
@rtodling @amdasilva
Can you point me to the updated ExtData rc files? Sounds like you are trying to do something that is not supported, a look at the rc files should hopefully let me see what the problem is.

[2021-12-16 18:58] rtodling commented on #87
I placed two ExtData.rc files under:

/discover/nobackup/rtodling/4AMS/

one subdirectory is OPS (that works); another is GEOSIT (the new one that does not work).

I've been doing some check to see if I find missing files somewhere; so far I have not ... I wonder if one of the files is corrupt. I am running on 20190625.

I can already detect other issues: some of the data only goes as far back as

[2021-12-16 19:14] rtodling commented on #87
I am just noticing that we have (in both old and new) tons of wired files to Anton's home dir:

/home/adarmeno/projects/SOAG/

what is this?

[2021-12-16 19:19] bena-nasa commented on #87
@rtodling

What is the actual directory that gets linked under ExtData for the GEOSIT run so I can look at the files? As far as the rest of the gocart setup, is this just OPS with new ExtData.rc and linking in a different chemistry directory

As for the files in people personal spaces, that's between the ops group and the maintains of those particular file sets/individual ExtData rc files to get t

[2021-12-16 19:20] rtodling commented on #87
chemistry

[2021-12-16 19:20] rtodling commented on #87
That's a new directory now.

I deleted my comments of personal dir stuff - I realized this is all stuff that is under development not used by anyone else. No need to worry about it

[2021-12-16 19:21] bena-nasa commented on #87
No, what is the absolute path that gets linked under ExtData in the scripting, I can't find the files without that.

[2021-12-16 19:22] rtodling commented on #87
It's tough to figure out which entry is doing this. That's what I am trying to do ... can do a cross-validation test replace parts of the new w/ the working parts of the old ...

[2021-12-16 20:15] amdasilva commented on #87
Just committed update with fix templates for the CEDS emissions in @GOCART.

For GEOSchem_GridComp, ignore my branch and go back to rt1.6.2

[2022-01-14 15:38] mathomp4 opened #88 "Possible bug in GOCART2G or just a naming issue: bext or tau?"
There might be a bug in GOCART2G, though maybe it's just "bad variable name" instead of bug. The code is a bit confusing to me at times. 😄

To wit, I was looking at trying to improve the performance of GOCART2G (as @wmputman has said he sees it slower). I was trying to convert some MieQuery calls from "in a 4-d loop" to "in a band loop" when I saw this (showing DU, but it's in all):

https://githu

[2022-01-14 15:49] mathomp4 commented on #88
Talking with @aoloso on this, we think this is just a case of "bad name" not bug. I just wanted to be sure.

[2022-01-15 20:38] pcolarco commented on #88
@mathomp4 This is not a bug (i.e., does not lead to erroneous/unexpected result) but is confusing in how it was implemented. The distinction of "bext" from "tau" is not intuitive and should be cleaned up more thoroughly in the code, but for now I added the appropriate keyword and verified zero-diff in the result. I will work with @mmanyin to check this in.

[2022-01-17 12:56] mathomp4 commented on #88
@pcolarco Okay. Just a "confused non-scientist" thing then. I figured you all would have noticed something being off by Q! 😄

[2022-01-17 12:56] #88 closed

[2022-02-08 13:40] tclune opened #91 "Avoid hardwired frequencies"
From @amdasilva

[code]
 Further guidance is needed from @amdasilva for his preferred approach for this.   Presumably the bounds would be derived from frequencies obtained in a resource file and a loop used to compute the table index.  (And also to compute the size of the array in that dimension.)

[2022-02-08 13:43] tclune opened #92 "Inefficient loop"
From @amdasilva

[code]
@tclune thinks that the array interface has already been overloaded for this.

[2022-02-08 13:47] tclune opened #93 "Correct handling of state vars in multiple instances of component"
From @amdasilva

[code]

[code]

[code]

@tclune will make any needed corrections to the MAPL ACG for this.    This ticket is solely about correcting the usage in GOCART gridcomps when those fixes are available.

[2022-02-08 14:06] weiyuan-jiang commented on #91
I found many places have that piece of code. Maybe we can create a subroutine get_MieTable_index in the module Chem_MieTableMod2G ?

[2022-02-08 16:19] weiyuan-jiang commented on #93
Where is the original issue ?

[2022-02-08 18:24] mathomp4 commented on #92
@weiyuan-jiang @tclune I'm actually thinking this might be expensive:

https://github.com/GEOS-ESM/GOCART/blob/8cee2066223f686bd96989a6253ee864e498b7a5/Process_Library/GOCART2G_Process.F90#L3513-L3544

There is another one below that. I saw these when looking at the GNU+GOCART2G issue with @aoloso

These are 5-deep do-loops calling Chem_MieQuery. That is...not cheap is my guess.

[2022-02-08 18:43] tclune commented on #92
With a bit of trouble, ELEMENTAL can be made to work.   @amdasilva has indicated he prefers a vanilla overload.   I'm pushing back because it is a substantial amount of duplicated code.      I suspect we'll need to do both and then time them.  If ELEMENTAL is as fast as the overload (which it should be), I'll defer to @amdasilva whether the little wrapper involved is too ugly for that approach.

[2022-02-09 21:58] tclune opened #95 "rename 2Gmod in process library"
follow convention

[2022-02-09 22:03] tclune opened #96 "Refactor Chem_MieTableMod2G.F90"
No longer needed as we do not aggregate across tracers.

[2022-02-10 15:19] tclune commented on #96
There is a laundry list of changes needed:

- The module name should change
   -  "2G" should be before "Mod"
   - "Table" should go away
   - Filename should be updated accordingly  (`git mv`)
-  Chem_Mie type goes away
-  Chem_MieTable is renamed to Chem_Mie
-  Use modern Fortran
    - POINTER components should be ALLOCATABLE
    - Chem_MieQuery should be a type-bound procedure
    - Constructor

[2022-02-10 15:42] weiyuan-jiang commented on #96
In the elemental procedure, I suspect it creates 3d channels and idx which are not necessary when 3d is called

[2022-02-10 15:54] weiyuan-jiang commented on #96
Comparing Withpmom with byInt, there is one more 2d optional argument pmom(:,:) in Withpmom. I saw the comment that this subroutine may be deleted.

[2022-02-10 16:30] weiyuan-jiang commented on #96
Should we change lambda(:) to channels(:) in the component too?

[2022-02-10 18:26] tclune commented on #96
ELEMENTAL only "creates arrays" for the arguments that _are_ arrays.  The "THIS" object remains a scalar, as does idx.  Maybe others - have not looked.

No - pmom is a different shape and thus prevents ELEMENTAL.  I pulled it into a separate interface precisely because of that.

[2022-02-10 19:28] weiyuan-jiang opened #97 "These two lines are not clear"
https://github.com/GEOS-ESM/GOCART/blob/8cee2066223f686bd96989a6253ee864e498b7a5/Process_Library/Chem_MieTableMod2G.F90#L654-L655

@tclune

[2022-02-10 20:18] tclune commented on #97
Yes - this is a bug.   The intent is to restrict `rh` between 0 and 1.   You did not include the line just after but basically it should look like:
[code]
(@amdasilva prefers `rh_` to `rhUse`.)

[2022-02-14 20:07] weiyuan-jiang opened #101 "the loop indexes"
https://github.com/GEOS-ESM/GOCART/blob/d79a878d8dbc08b771f5d4e07f034c84335fb966/ESMF/GOCART2G_GridComp/DU2G_GridComp/DU2G_GridCompMod.F90#L1311-L1312

I think the indexes here should start from  i1 and j1  @tclune

[2022-02-15 14:53] tclune commented on #101
It's not a bug though.  Just an anachronism.

[2022-02-15 14:54] mathomp4 opened #103 "GOCART2G does not layout regress"
As noticed in testing by @sdrabenh and myself, GOCART2G does not seem to currently layout regress. (It does start-stop regress, so that means we are not looking at a missing field in an internal state.)

When run at C48 with AMIP emissions, I see failures in both NI and SU restarts when I compare 4x24 to 4x30:
[code]

[code]

So not that big. But if we compare 4x24 to 2x48 *every single restart* i

[2022-02-15 14:58] tclune commented on #103
The code should not crash if we skip the point emissions.  Might need to set result to 0 or skip the addition.   I'll try to take a look at the point emission logic.

[2022-02-15 15:00] pcolarco commented on #103
I *think* the volcanic emissions (set in SU2G_instance...) is using a separate code to the point emissions. But you can set the filename there to /dev/null

The only other entry point that might be used (but I think isn't in the FP config) is in the carbon components where there is an option to call point source emissions (e.g., pyroCb). You can also set the filename to /dev/null there.

Unless it

[2022-02-15 15:30] weiyuan-jiang opened #104 "a bug ?"
I would like bring this line to your attention. There is bext as an output options. If tau is wanted indeed, we should add a note before the call..  @tclune

https://github.com/GEOS-ESM/GOCART/blob/bb4eb2c42c3b0b290b6113dc4c628400e526ac6a/ESMF/GOCART2G_GridComp/DU2G_GridComp/DU2G_GridCompMod.F90#L1197

[2022-02-15 15:38] mathomp4 commented on #103
@pcolarco Thanks. I tried setting `volcano_srcfilen:` to `/dev/null` in `SU2G_instance_SU.rc`. While it did change the answer, I still get all restarts different. So not that.

Hmm. I suppose I shouldn't solely blame GOCART. For example, we now use AChem right? That's a mystery box to me, though I only see area referenced in volcano stuff there as well and I don't think we use that code at the mom

[2022-02-15 16:08] mathomp4 commented on #103
Tests I've tried so far:

- `/dev/null`'ing the SU volcano: regress fail
- Turning off achem: regress fail
- Turning off hemco: crash (can you tell I don't know what I'm doing 😄 )
- Blank history (just in case): regress fail

So, @pcolarco is there a way in GOCART2G to start turning off species/constituents/instances/not-sure-of-the-term? That way we could run with no SU, or no DU, etc. (I think t

[2022-02-15 22:20] sdrabenh commented on #103
@pcolarco setting AERO_PROVIDER:none and USE_AEROSOL_NN:0 still causes su_internal to fail for MSA field

[2022-02-15 22:28] pcolarco commented on #103
@sdrabenh Have you tried not running SU and do you have this problem?
And if I need to dig into this can you tell me what is being tried? I can just try changing the layout (NX,NY in my AGCM.rc)? And what is the preferred tool to verify the restarts are/are not identical?

[2022-02-16 01:08] #101 closed

[2022-02-16 02:59] sdrabenh commented on #103
@pcolarco if I use defaults with no ACTIVE_INSTANCES_SU everything passes 0-diff regression. I imagine something is weird with SU. I am running the standard `./regress/gcm_regress.j` tool to check the decomposition. My tests are using `mepo clone -b feature/#328/geos-v10.17.6/gocart2g/new-extdata git@github.com:GEOS-ESM/GEOSgcm.git` build running at C48 with Reynolds data ocean (o1), new land (NLv

[2022-02-16 14:14] pcolarco commented on #103
@sdrabenh Please send me a path to restarts used and I will try to play with it this morning.

[2022-02-16 14:43] sdrabenh commented on #103
@pcolarco these are the restarts I use. All GOCART2G restarts are bootstrapped.
/discover/nobackup/projects/gmao/g6dev/sdrabenh/ZeroDiffTests/restarts-C48_CS_NL

[2022-02-17 20:54] bena-nasa opened #106 "GOCART2G_Process.F90 contains goto's, should be replaced with exit"
When looking at this file to try to find a regression problem I noticed multiple uses of the GOTO statement which should not be used in modern Fortran unless absolutely necessary. From my look at the code, these are not needed as this can be accomplished with the  proper modern Fortran way of doing this, which is the exit statement. The exit breaks you out of the do loop and takes you to the next

[2022-02-21 13:39] #103 closed

[2022-02-25 14:48] tclune commented on #92
Now that @weiyuan-jiang has reworked Mie, this loop should be simplified to use the multi-dimensional interface.

[2022-02-25 14:49] tclune commented on #91
Presumably these are all fixed in PR #102?

[2022-02-25 19:10] mathomp4 opened #108 "How do you run GOCART2G Climatological/GOCART2G.data"
If you run `gcm_setup` and ask for AMIP GOCART and Climatological aerosols, the model will crash:

[code]

I might be able to help @sdrabenh script for this if I knew how to actually run a climatological GOCART2G run. I think it's now all `data_driven` or something inside here, but I have no idea how to set up for it.

[2022-02-25 19:10] mathomp4 commented on #108
cc: @wmputman @bena-nasa @tclune

[2022-02-28 16:19] mathomp4 opened #109 "Typos and Bugs in Dust ExtData"
@lizziel of Harvard recently made a PR on MAPL (https://github.com/GEOS-ESM/MAPL/pull/1377) that was checking for file existence in ExtData. It found a bug in the Dust ExtData RC file a la this line:

https://github.com/GEOS-ESM/GOCART/blob/150f6b888edef08944dcbd22fbd17d53b4c0ea79/ESMF/GOCART2G_GridComp/DU2G_GridComp/DU2G_GridComp_ExtData.rc#L25

As you can see, this:
[code]
should be:
[code]
with

[2022-02-28 18:13] #95 closed

[2022-02-28 18:13] tclune commented on #91
@weiyuan-jiang can you confirm that these have all been eliminated in your existing PR?  If so, close this issue.

[2022-02-28 18:16] mathomp4 opened #111 "Open MPI Runs have different DU and SS States, but nothing else"
So this is a weird one for @tclune and @aoloso to ponder. Maybe even @atrayano.

To wit, for some work @aoloso is doing looking at the bad performance on the Skylake OPA nodes at NCCS (cc @wmputman), I built Open MPI 4.0.6 for both Skylake/OPA and Cascade Lake/Infiniband at NCCS and then build Baselibs.

I then built the model twice, one on Cascade Lake and one on Skylake (since Open MPI can only

[2022-02-28 18:23] tclune commented on #111
This screams to me as one more piece of evidence for something in GOCART is not properly initialized, but often gets the  value "0" so that it mostly works.

[2022-02-28 18:23] weiyuan-jiang commented on #91
Yes, I think those blocks disappear

[2022-02-28 18:23] #91 closed

[2022-02-28 18:26] mathomp4 commented on #111
@tclune My other thought is that the internal state of DU and SS do not affect subsequent time steps perhaps? That is they have an internal state...but it doesn't matter on step 3 what changed in step 3?

That's the only way I can think of their internal states being different, but also not affecting the model as a whole?

[2022-02-28 18:28] tclune commented on #111
Yes - I was assuming that these are either diagnostic quantities or so small that they don't affect anything most of the time.

[2022-02-28 18:38] amdasilva opened #113 "Stop gap fix for EMIP runs: create AMIP.20C emission scenario"
Until ExtData has been refactored to allow the specification of time intervals for selecting datasets in the ExtData component, this device will allow EMIP runs to work during tge transition from HFED to QFED.

[2022-02-28 21:21] tclune commented on #106
@bena-nasa  I cleared the assignees here.    Assignee for an issue is the person that will make the fix.   If you want no notify/ask individuals if the ticket should be acted upon, just use the "@" notation in the text.

[2022-02-28 21:25] tclune commented on #69
@amdasilva  - Can you comment on this question from @rmontuoro ?

[2022-03-11 15:53] mathomp4 opened #117 "No-Op rebuild of GEOSgcm triggers rebuilds of GOCART2G"
I think there is something slightly off with the CMake in GOCART2G, probably involving the automatic code generator.

First, build and install GEOSgcm. Now, *doing nothing to the source code*, go to your build directory and re-run `make -jN install`. When you do, you'll see what I think is the ACG re-running:
[code]
which I'm guessing generates code with a newer timestamp and so CMake has no choic

[2022-03-14 19:14] #109 closed

[2022-03-17 21:08] #113 closed

[2022-03-17 21:21] amdasilva commented on #108
In GOCART2G, the logic for enabling the "data component" has moved one level down, inside GOCART2G_GridComp.rc. By default you have:

     # Include the constituent in the simulation?
    # ----------------------------------------------------
    ACTIVE_INSTANCES_DU:  DU
    PASSIVE_INSTANCES_DU:

    ACTIVE_INSTANCES_SS:   SS
    PASSIVE_INSTANCES_SS:

    ACTIVE_INSTANCES_SU:  SU
    PASSIVE_INS

[2022-03-17 21:22] amdasilva commented on #92
Refactoring of the Mie calculations has taken care of this.

[2022-03-17 21:22] #92 closed

[2022-03-17 21:23] amdasilva commented on #96
It has been done with PR on 3/17/2022.

[2022-03-17 21:23] #96 closed

[2022-03-17 21:25] #87 closed

[2022-03-17 21:32] amdasilva commented on #73
This is less of an issue now since these calculations are now done at array level with the refactoring of the Mie calculations.

[2022-03-17 21:37] amdasilva commented on #54
This issue will be better handled with the planned upgrade of ExtData where time ranges will be allowed in the rc files: for time in this range use this set of emissions, for time in that time range use that set of emissions.

In any event, use of NRT emissions should be discouraged. Only applications with a low-latency requirement (such as FP and IT) should use the NRT stream. Any other run, incl

[2022-03-17 21:37] #54 closed

[2022-03-17 21:38] amdasilva commented on #64
rc files specify wavelengths in nm, internally calculations use m. This issue has been dealt with.

[2022-03-17 21:38] #64 closed

[2022-03-17 21:39] amdasilva commented on #117
I will leave that to the cmake gurus...

[2022-03-17 21:41] amdasilva commented on #69
Good suggestion. Wet removal is expected to be moved to its own component. When doing so I will make sure that parameters are rc file driven.

[2022-03-17 21:41] #69 closed

[2022-03-17 21:42] amdasilva commented on #47
Yep, thgis is a good suggestion. But this is larger than GOCART. Are there such standard in the CCPP community?

[2022-03-17 21:44] amdasilva commented on #70
Be my guest to implement DSOs, wthatever that is... I am assuming this is a cmake level update.

[2022-03-17 21:48] amdasilva commented on #53
Well, since several of the processes are shared by multiple species, separating the PL by specifies does not make too much sense. These perhaps shopuld be grouped by functionality.

[2022-03-17 21:51] amdasilva commented on #29
This has been implemented. Internally, however wavelengths remain in SI units (meters).

[2022-03-17 21:51] #29 closed

[2022-03-17 21:52] amdasilva commented on #84
This has been addressed with the refactoring of the Mie calculations of 3/17/2022.

[2022-03-17 21:52] #84 closed

[2022-03-17 21:54] amdasilva commented on #53
Adding this to the SomeDayMaybe list. It is a good suggestion but difficult to prioritize at this point.

[2022-03-17 21:54] #53 closed

[2022-03-17 22:01] amdasilva commented on #48
Tagging it as SomeDayMaybe. OpenMP parallelization perhaps should be done at a higher level.

[2022-03-17 22:01] #48 closed

[2022-03-17 22:04] amdasilva commented on #57
Issue to be revised with the refactoring of the carbon components a la GOCART-2G. The Legacy GOCART is currently frozen to any further development.

[2022-03-17 22:04] #57 closed

[2022-03-17 22:05] #47 closed

[2022-03-17 22:08] amdasilva commented on #18
Moving this tio the SomeDayMaybe list.

[2022-03-17 22:08] #18 closed

[2022-03-17 22:09] amdasilva commented on #33
Obsolete. Legact GOCART has been retired.

[2022-03-17 22:09] #33 closed

[2022-03-17 22:11] amdasilva commented on #111
This is not correct. The internal state of any ACTIVE instance affects radiation and all other variables in the model.

[2022-03-17 22:14] amdasilva commented on #93
@tclune Have the updates above been implemented in ACG?

[2022-03-17 22:36] mmanyin commented on #57
OH will actually be a member of the QuickChem module currently under development. @amdasilva thanks for closing this.

[2022-03-18 12:42] tclune commented on #93
Yes - but we failed to merge that PR into MAPL develop until last night.   I'd forgotten that I was waiting to confirm that it worked in GOCART and then lost track.   So it is now on the develop branch and @mathomp4 will be rolling out a MAPL minor release this morning.

[2022-03-21 19:58] junwang-noaa opened #127 "GOCART run failed in ufs-weather-model with gnu compiler"
The ufs-weather-model coupled test with GOCART failed with gnu compiler gnu/10.1.0 (on Cheyenne) and gnu/9.2.0 (on Hera). The compile jobs actually ran successfully. The test failed at run time with the same error message:

Backtrace for this error:
Program received signal SIGSEGV: Segmentation fault - invalid memory reference.
...
117: #1  0x12f5195 in modeldatainitialize
117:  at /scratch1/NCEPD

[2022-03-21 20:33] tclune commented on #127
@junwang-noaa Can you post the version/tag of GOCART to this ticket so that we can look at the specific line that is referenced?   And please remind me if you have any ability to test with a more recent gfortran.

[2022-03-21 20:35] tclune commented on #127
Oh and please post the tag/version of MAPL here as well.  (Now that I've seen the likely line in the Aerosol cap.

[2022-03-21 20:39] tclune commented on #127
@junwang-noaa @rmontuoro   I strongly suspect that someone at my end will need to build and run your system to replicate the problem to make any progress.   The failure message in the original post really does not give us much to go on.

My bet would be that it is a compiler bug and that a workaround is probably possible.   But if a newer GNU compiler resolves the issue, that would be the preferre

[2022-03-21 20:41] junwang-noaa commented on #127
@tclune Thank you very much for looking into it!  In ufs-weather-model, we are using GOCART 2.0.5:
https://github.com/GEOS-ESM/GOCART/tree/1ff638919fad66e79120eef07daf835c6fee12a4

The line giving error is at:
https://github.com/GEOS-ESM/GOCART/blob/1ff638919fad66e79120eef07daf835c6fee12a4/ESMF/UFS/Aerosol_Cap.F90#L321

and MAPL: 2.11.0:
https://github.com/ufs-community/ufs-weather-model/blob/deve

[2022-03-21 20:56] junwang-noaa commented on #127
Thanks, Tom. I will check if we have gnu 10.3 or 11.2 available.

[2022-03-23 23:53] tclune opened #128 "Split process library using Fortran submodules"
Submodules will provide for less contention as individual procedures are modified while preserving the namespace protections of a module.

If there are natural groupings among the routines multiple submodules would be appropriate.  Otherwise one large one.

Naming of submodules and associated file is in a bit of flux.  With existing GOCART2G conventions, I recommend module has `SMod` at the end an

[2022-03-24 13:15] mathomp4 opened #129 "GOCART develop doesn't currently run with AMIP (at least)"
This might be something @amdasilva knows about, but just in case...

When I clone GEOSgcm `main` and then checkout the `develop` branch of GOCART, an AMIP run fails:

[code]

It seems to die on this line:
https://github.com/GEOS-ESM/GOCART/blob/9737da633cfc937969799be6cabe2cbd496aeb14/ESMF/GOCART2G_GridComp/CA2G_GridComp/CA2G_GridCompMod.F90#L461

~Perhaps `HISTORY.rc` needs a change for GOCART `d

[2022-03-24 14:30] weiyuan-jiang commented on #128
Before I split the file, would anybody help me to divide the subroutines into different groups roughly?   @tclune @rmontuoro

[2022-03-24 14:45] mathomp4 opened #130 "Changing klid causes a halt in GOCART"
As discovered by @wmputman, if you change the `klid` (aka `pressure_lid_in_hPa`) in GOCART, the model locks up.

It works if `pressure_lid_in_hPa: 0.01` but `pressure_lid_in_hPa: 0.40` causes it to not work.

I have a hotfix for this incoming.

[2022-03-24 16:22] amdasilva commented on #129
Can you be more specific?  If this is HISTORY related, it has nothing to do with AMIP.

[2022-03-24 16:35] amdasilva commented on #128
I am still not sold on this submodule thing.  Too much busy work for little benefit.

[2022-03-24 16:37] amdasilva commented on #106
Weiyuan, can you clean this up?

[2022-03-24 16:37] #73 closed

[2022-03-24 16:39] amdasilva commented on #32
@weiyuan-jiang please take a look. If these are commented prints, just remove them. If there are prints every herartbeat perhaps these need to removed or at least use the logger.

[2022-03-24 16:44] amdasilva commented on #93
@weiyuan-jiang Changes need to be made in GOCART2G state specs and all HISTORY in gcm app needs to adjusted to reflect the new variable mames. This will create a PR in gcm app.

[2022-03-24 17:00] amdasilva opened #132 "New YAML version of ExtData needs to be implemented"
## Background
@bena-nasa has refactored ExtData to use a more versatile YAML resource file. This is a mod that goes beyond GOCART (see below for a list of *ExtFiles.rc that need conversion).

Here are the general steps:
- branch: feature/###/ExtData/yaml
- Start with latest GEOSgcm release 10.21.1
- Update to the latest version of MAPL supporting this feature
- Use Ben's utility to convert current

[2022-03-24 17:01] mathomp4 commented on #129
@amdasilva What I did was checkout `develop`, build, and then try to run an AMIP-emissions run for a day (the way I normally run things). And it crashed. I'm not sure why. I was just sort of idly speculating.

But you are right, this does not involve History. I turned off all the collections, and the model still crashed at the same place.

[2022-03-24 17:32] weiyuan-jiang commented on #32
Almost all the prints have been removed by someone else. I think it is fine to keep those prints when status/=0.

[2022-03-24 23:14] tclune commented on #128
@weiyuan-jiang  I spoke with @amdasilva late this afternoon.   Rather than using submodules he recommends that we simply put each procedure into a separate source file with the same name.  (I.e.,  SUBROUTINE XYZ  goes into a file called XYZ.F90).   Then just use `#include ...` to bring them into the actual module.

The extra wrinkle is to change the module from default `PRIVATE` to default `PUBLIC

[2022-03-25 14:17] weiyuan-jiang commented on #129
The recent changes don't seem to involve those errors. Need further investigation...

[2022-03-29 15:22] mathomp4 opened #136 "Bug in getAerosolSum: Not sure of correct fix"
There appears to be a bug in `getAerosolSum` but I'm not sure of the right fix. As this routine is (eventually) used by GAAS, I'll assign to @amdasilva for now and see what he thinks the right fix as I can sort of think of two (and I'll cc @weiyuan-jiang).

The issue is that in this code:

https://github.com/GEOS-ESM/GOCART/blob/7a9dae64f6860248dd3a97bdfc41e8fb2887ef61/ESMF/GOCART2G_GridComp/GOCAR

[2022-04-14 13:45] adarmenov commented on #136
Agreed - aeroOut needs to be initialized to zero; summation is conditional on obtaining a valid/proper pointer. Good fix.

[2022-04-14 14:54] tclune commented on #136
@weiyuan-jiang Please create a hotfix PR for this that does both:  zeros out aeroOut and moves the accumulation inside the conditional.

[2022-04-19 17:42] sdrabenh opened #140 "0-increment Replays are not 0-diff"
@lltakacs and @sdrabenh confirmed 0-increment replays fail to be 0-diff if `REPLAY_FILE_FREQUENCY` is not the default 21600. This is important since OPS has moved to a 2-hourly 4D IAU. Tests using gcm v10.22.0 and after have the bug while v10.21.1 does not. The implication is that something is amiss in how GOCART-2G interacts with the IAU machinery.

In our C48 out-of-the-box case, a 6-hour AMIP w

[2022-04-19 18:18] mathomp4 commented on #140
CC: @tclune @atrayano

This might be something we need to look at. Though we might need help from @pcolarco or someone who can help point us...

[2022-04-19 18:46] lltakacs commented on #140
A significant difference here is that 3D-Var IAU uses a single analysis replay file and creates a single increment file, while the 4D-EnVar IAU uses multiple analysis replay files and creates multiple increment files.  This, however, was also the case for v10.21.1 which uses the original GOCART and worked just fine.

[2022-04-19 19:33] pcolarco commented on #140
I don't know anything about the interface to the IAU machinery. If I read this correctly it is maybe the case that this was never tested with GOCART2G? Or is this a new feature with a model change that changes the IAU frequency? If I had to speculate here I would point my finger at the cycling update of some of the oxidant fields related to GOCART SU that are recycled with something like a three-h

[2022-04-19 19:50] lltakacs commented on #140
Hi Pete,
I think you will need to tell us exactly how to do that.  How do you turn off SU and NI?
Larry

From: pcolarco ***@***.***>
Sent: Tuesday, April 19, 2022 3:33 PM
To: GEOS-ESM/GOCART ***@***.***>
Cc: Takacs, Lawrence L. (GSFC-610.1)[SCIENCE SYSTEMS AND APPLICATIONS INC] ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [GEOS-ESM/GOCART] 0-increment Replays are not 0-diff (Issue #1

[2022-04-19 19:53] pcolarco commented on #140
@lltakacs I think @sdrabenh knows how to do this, but in GOCART2g_GridComp.rc you should be able to change the line
ACTIVE_INSTANCES_SU:  SU   #SU.data
to
ACTIVE_INSTANCES_SU:

and similar for the nitrate (ACTIVE_INSTANCES_NI)

And of course turn off the relevant variables in your HISTORY (we're just testing here)

[2022-04-19 20:16] mathomp4 commented on #140
One note if you start doing all the tests: if you decide you want to run *only* NI, you technically have to run NI, SS, and DU since NI depends on SS and DU.

I found that out during my still unsuccessful attempts to try and figure out why [GNU GOCART2G doesn't regress](https://github.com/GEOS-ESM/GEOSgcm/issues/380#issuecomment-1056990763)

[2022-04-20 13:39] sdrabenh commented on #140
@pcolarco I re-ran both the amip and 7200 second 0-increment replay without SU and NI. This resulted in all restarts being non-0-diff after the first time step.

[2022-04-20 13:55] pcolarco commented on #140
@sdrabenh For clarity for me: you got the correct results with GOCART2G and the older style 21600 second replay?

[2022-04-20 14:20] sdrabenh commented on #140
@pcolarco you are correct. When using the 21600 second replay everything is 0-diff as expected. I also tested the 7200 second replay stopping at 00z (3-hour assimilation window instead of 6 hours) and the same 3 restarts are NZD.

[2022-04-20 14:43] pcolarco commented on #140
Scott, could we have a call this afternoon? I can’t tell if this something where my help would actually be useful since I just don’t know this configuration you are trying to run.

--------------------------------------------------------------------
Peter Colarco
NASA GSFC
Code 614
NASA Goddard Space Flight Center
Greenbelt, MD 20771
301.614.6382 (ph)
301.614.5903 (fax)

***@***.******@***.***>
ht

[2022-04-20 15:03] sdrabenh commented on #140
@pcolarco yes we could chat this afternoon. That would be helpful. I would also like to include @lltakacs since he is the IAU guru.  Also, we have narrowed down the problem a bit further. The problem appears to occur when more than one forcing file is used in the assimilation/replay window. A replay file frequency of 7200, 10800, or 21600 doesn't matter as long as it is only 1 forcing file per win

[2022-04-20 15:11] sdrabenh commented on #140
For reference, my experiments/configs can be found here:
`/discover/nobackup/projects/gmao/g6dev/sdrabenh/test_exps/J220_C48_0inc_test`
`scratch.amip/checkpoints_T1` and `scratch.0inc-x46a.6h/checkpoints_T1` are 0-diff (1 forcing in 6hrs)
`scratch.amip/checkpoints_T1` and `scratch.0inc-x46a.2h_7200/checkpoints_T1` are 0-diff (1 forcing in 2hrs)
`scratch.amip/checkpoints_T1` and `scratch.0inc-x46a/

[2022-04-20 19:16] bena-nasa commented on #140
@mathomp4 @sdrabenh @pcolarco @lltakacs
I twiddled with this during a meeting. I was able to reproduce it with Scott's first instructions (however many forcings per replay period that is). I then tried turning ExtData off so no emission, then I did get zero diff, not sure if that is a clue or not

[2022-04-20 20:33] sdrabenh commented on #140
@pcolarco @lltakacs @bena-nasa @mathomp4 I tried running another test turning off achem as suggested:
`ENABLE_ACHEM:       .FALSE.` in `GEOS_ChemGridComp.rc`
Unfortunately, the following 2 fields were still NZD after the first time step:
[code]

[2022-04-20 20:46] pcolarco commented on #140
I will try and have a look later at what this might be, I don't understand and it is interesting that evidently "bc" is not an issue since they are all using the same code.

[2022-04-20 20:53] sdrabenh commented on #140
@pcolarco I also tried running with just DU and SS, but I can't seem to comment out
`ACTIVE_INSTANCES_CA:   CA.oc  CA.bc  CA.br  #CA.oc.data CA.bc.datac`
without the model crashing. I guess it has to run with carbon?

[2022-04-20 20:56] bena-nasa commented on #140
@pcolarco there dependencies such that yes, something in carbon I think, is expecting another gocart type (SU I think) to be on. If you look at where it crashed it is something like that. Rather frustrating as kind of defeats the purpose of having these separate instances if they are dependent on each other.
The other possibility is that you do need to to comment out this line in the AGCM.rc #USE_

[2022-04-20 21:08] pcolarco commented on #140
@sdrabenh Scott, I think you can't "#" comment out the active instances, you have delete them from the line. That is my experience thus far.

If you turn off the species, to @bena-nasa point, don't you have to "uncomment" #USE_AEROSOL_NN: 0 to get it to run properly? That is also my experience. This is the aerosol-cloud aware stuff.

I don't know why DU needs other components to run, assuming the

[2022-04-21 02:14] sdrabenh commented on #140
@pcolarco you are correct. What I meant by commenting out was placing the comment after the active instances key so there were no values read in - not commenting the entire line.

[code]

Sorry for the confusion. @bena-nasa you were correct - setting `USE_AEROSOL_NN: 0` and removing all active instances except DU and SS will allow the gcm to run instead of crash. Unfortunately, everything becomes

[2022-04-21 02:16] sdrabenh commented on #140
@bena-nasa how did you turn off all ExtData?

[2022-04-21 16:37] mathomp4 commented on #140
Not sure if @bena-nasa replied offline, but I usually do this by editing `gcm_run.j` to where the ExtData files are all concatenated and then after that adding:
[code]
I do it this way because I often forget which RC file I edited 😄

[2022-04-23 15:17] pcolarco commented on #140
@sdrabenh I have played with this a bit as we discussed Friday. Could you check you did your "no achem" test correctly? I believe the issue is not in GOCART2G but in ACHEM, which is exporting psoa_voc and psoa_voc_anth to GOCART. If you turn ACHEM off they are provided by ExtDat (/dev/null) and I think things regress. When I run ACHEM but zero out the oxidants (specifically "OH" in GEOSachem_ExtDa

[2022-04-25 12:40] mathomp4 commented on #140
Oh man. I wonder if this is some weird ESMF_Alarm thing. I know @atrayano and @bena-nasa have had "fun" with ESMF_Alarms. Maybe when we come back from replay things aren't ringing...or are ringing and shouldn't be?

Or maybe something the OH scaling needs isn't being preserved in the import/internal state?

[2022-04-25 13:54] lltakacs commented on #140
Just remember that all this works fine in the version prior to introducing GOCART-2G.

[2022-04-25 14:27] bena-nasa commented on #140
@pcolarco @sdrabenh @lltakacs Does this code in the ACHEM use any ESMF alarms? Please let me know, there are issues with ESMF alarms when you rewind the clock. In fact we have a hack in the GCM grid comp that is supposed to work around all the bugs they have but I've found that in certain case even this hack does not work and the ESMF alarm code is in such a state they are essentially rewriting it

[2022-04-25 14:27] jkbk2004 commented on #127
@weiyuan-jiang @mathomp4 I tested with gnu11.2. Error messages are Segmentation fault - invalid memory reference: GOCART/ESMF/UFS/Aerosol_Cap.F90:321  0x12a3d31 in modeldatainitialize, hpc-stack-esmf-/pkg/v8.3.0b09/src/Superstructure/Component/src/ESMCI_MethodTable.C:377 0xcfc7cb in _ZNK5ESMCI13MethodElement7executeEPvPi

[2022-04-25 15:08] mathomp4 commented on #140
@pcolarco One question: does it regress if `use_diurnal_cycle` is `.false.`?

That loop looks...weird. Is there a reason AChem uses a different sun than the rest of GEOS (i.e., `MAPL_GetSunInsolation`?)

[2022-04-25 15:08] sdrabenh commented on #140
@pcolarco I re-ran both my `scratch.amip` and `scratch.0inc-x46a.no_achem` experiments to be sure. However, I do not get 0-diff restarts by changing:
`ENABLE_ACHEM:       .FALSE.`

Obviously, there is no achem checkpoint to compare, but I still see these differences after first time step:
[code]

For me turning off achem alone does not solve the problem

[2022-04-25 15:56] bena-nasa commented on #140
@pcolarco @sdrabenh
Do we have any reason to suspect the SU gridcomp in GOCART2G. I see that creates an alarm with in interval of 3 hours that gets used some conditional. It was in fact a 3 hourly alarm in Extdata that first exposed that the "hack" we do in gcmgridcomp did not work in all cases.

[2022-04-25 16:12] mathomp4 commented on #127
@jkbk2004 What version of GOCART and MAPL are you using? If that line number matches in `main`, that's a MAPL_Cap call:

https://github.com/GEOS-ESM/GOCART/blob/4d4f27c51f49ccebb2df5e167582d033eea4d0d4/ESMF/UFS/Aerosol_Cap.F90#L321

[2022-04-25 16:12] sdrabenh commented on #140
Not sure if SU would affect the BR and OC carbon first, but a 3-hourly alarm sounds problematic with a 7200 sec replay

[2022-04-25 16:22] junwang-noaa commented on #127
We are using GOCART version [1ff6389](https://github.com/GEOS-ESM/GOCART/commit/1ff638919fad66e79120eef07daf835c6fee12a4) and MAPL 2.11.0

[2022-04-25 17:02] pcolarco commented on #140
@sdrabenh Please have a look at
/discover/nobackup/pcolarco/c48F_v10p22p1_regress
I did two pairs of tests, a baseline (amip, 0inc-x46a) and a "no achem" test (amip-no_achem, 0inc-x46a-no_achem) and saved the scratch directories similar to your approach.
I stand by the results I have reported throughout based on runs with a slightly older tag (10.21.1 with GOCART2G in place):
baseline reports the

[2022-04-25 19:02] adarmenov commented on #140
Good suggestion, Matt.

[2022-04-25 21:06] pcolarco commented on #140
@mathomp4 @adarmenov No, that does not affect the outcome. It still does not regress in that case. See:
/discover/nobackup/pcolarco/c48F_v10p22p1_regress/scratch.amip-no_diurnal and scratch.0inc-x46a-no_diurnal

[2022-04-25 21:07] pcolarco commented on #140
And who is introducing the EMISSIONS = AMIP and overwrite all my RC files into the gcm_run.j script? I thought we were not going to do that!

[2022-04-26 12:50] mathomp4 commented on #140
@pcolarco Nothing should be doing that. We do have code in gcm_run.h to alter the RC files for AMIP.20C, but if you are using the OPS emissions, then that code should be avoided.

[2022-04-26 13:20] weiyuan-jiang commented on #127
@mathomp4  Can we test ufs on our discover system?

[2022-04-26 13:27] jkbk2004 commented on #127
@junwang-noaa @weiyuan-jiang FYI, a orion help desk ticket was submitted to install gnu11.2 on orion.

[2022-04-26 13:34] weiyuan-jiang commented on #127
@junwang-noaa Thanks. I am just about to ask you how to load gnu on Orion. I will wait for a while.

[2022-04-26 13:39] mathomp4 commented on #127
@weiyuan-jiang I am not sure. I've never built it on discover. Perhaps @rmontuoro has done so and can provide guidance?

[2022-04-26 13:47] pcolarco commented on #140
@mathomp4 I will raise this with @amdasilva. It is very common in the aerosol group (and CCM group, etc.) to run AMIP as opposed to OPS emissions. None of us want or benefit from this feature and it is a perpetual stumbling block (or was when it was MERRA-2)

[2022-04-26 13:50] mathomp4 commented on #140
@pcolarco Running with AMIP should work. I mean, it's how I run all the time. (Well, I run AMIP.20C more often just because of when my standard set of restarts are for.)

The only time emissions RC files will "change" in the scratch dir is if you are in the AMIP.20C time frame.

In future ExtData2G, this will not happen as @bena-nasa has figured out ways to make the new resource yaml files indicat

[2022-04-26 13:57] pcolarco commented on #140
@mathomp4 Appreciate that change is coming (have heard of what Ben is doing, don't know the details). The current is problematic for example the tests I was doing, where I wanted to change the default configurations (i.e., turn ACHEM off). My read of gcm_run.j is that regardless of my time period (granted, within the modern era) my RC is being overwritten by whatever is in the source, not my local

[2022-04-26 14:09] sdrabenh commented on #140
@pcolarco this was an issue that needed to be addressed in the beta rollout of GOCART2G. @mathomp4 @amdasilva and myself implemented this workaround until ExtData2G is implemented. Obviously, we must support OPS style emissions for FP and FPP. We also must be able to run the model prior to Y2000 when OPS emissions do not exist. Since the emission sources are discontinuous throughout this span, thi

[2022-04-26 14:12] pcolarco commented on #140
@sdrabenh I'm just being a PITA, I know. I'm going to circle back to the actual issue on this thread...

[2022-04-26 15:56] pcolarco commented on #140
I think my testing has isolated that the issue is the filling of the OH field. I don't understand how this might be impacted in replay/rewind versus amip-style. I template what I think is going on in the Run method of ACHEM which is called every timestep.
       call MAPL_GetPointer(import, q_OH,       'OH',         __RC__)
       allocate(q_OH_(i1:i2,j1:j2,km),  __STAT__)
       q_OH_  = q_OH

[2022-04-26 18:06] bena-nasa commented on #140
@pcolarco I'll look at this. GetPointer is just getting something from the Import state which is just a container, it has no notion of time. WHen we run replay we save the entire model state to memory before the predictor loop, then after rewinding we restore the model states. If achem defined an import checkpoint this would be refreshed, if not, it will not.

[2022-04-26 18:56] bena-nasa commented on #140
@pcolarco can you please elaborate what you mean by this:
"specification of the OH value in the "use it" line does lead to proper regression."

[2022-04-26 20:36] bena-nasa commented on #140
@sdrabenh @pcolarco well, this is weird, I put some prints in achem to print q_oh and q_oh_ and from what I see, it does appear that after the rewind back to 21z, the q_OH which I think is coming from extdata is is not getting set back to the original value it was in the first execution of the predictor step. Even more confusing at the 21:15z step, they are back to matching! I'm very confused, If

[2022-04-26 21:01] pcolarco commented on #140
@bena-nasa Thank you, Ben. The only thing I can add that might help is that the import

- call MAPL_GetPointer(import, q_OH,        'OH',      __RC__)

is actually in two places in the code. In the first it is inside logic of "if(self%mam_chem)" which is not the configuration I am running. In the second place it is in the logic of "if(self%voc_chem)" which is what I am running. In the second case

[2022-04-27 21:16] bena-nasa commented on #140
@pcolarco @sdrabenh thanks to help from @lltakacs I think we figured out what is going wrong, for reasons I don't understand, but probably something we did to MAPL unintentionally, the analysis checkpoints created on disk when you do replay with more than 1 analysis per segment are getting all the variables from the agcm import state written, not just the variables being analyzed. The full import

[2022-04-28 14:45] #130 closed

[2022-04-28 15:59] bena-nasa commented on #140
@pcolarco @amdasilva @mathomp4 @sdrabenh @lltakacs
So I've finally fixed this all up. There will be multiple PR's coming, have to fix both ACHEM and GOCART2G. AChem was missing the RESTART=MAPL_RestartSkip in the MAPL_ADDImportSpec calls for variables coming thru ExtData which was causing the regression failures.

GOCART2G was also missing this, but since those are defined via the ACG, I had to up

[2022-04-28 16:24] bena-nasa commented on #140
@adarmenov @amdasilva
We will have to make a hotfix this in GOCART since this is a proper bug. Then get this back to develop whenever it works again ...

[2022-04-28 18:09] sdrabenh commented on #140
Thanks @bena-nasa @pcolarco @mathomp4 @lltakacs for isolating, tracking down, and issuing a fix!

[2022-05-02 13:25] #140 closed

[2022-05-02 14:30] bena-nasa opened #146 "Hard coded 3 hourly frequency in gocart2g"
@amdasilva @pcolarco @adarmenov  @weiyuan-jiang @tclune @mathomp4

There is this issue reported in UFS that appears to involve gocart2g:
https://github.com/ufs-community/ufs-weather-model/issues/1190

now Matt noticed that a 4 hour vs 2 + 2 start/stop regression was failing. We then remembered there is a hard coded 3 hourly alarm in gocart2g! In these spots:
https://github.com/GEOS-ESM/GOCART/blob

[2022-05-02 14:34] pcolarco commented on #146
@bena-nasa I won't have the time this week to give a thoughtful look at this, sorry. But if we add H2O2 to the internal state in GOCART2G (this is I think the field which requires the alarm cycling) that will solve this problem?

[2022-05-02 14:40] bena-nasa commented on #146
@pcolarco thanks for the fast response. I agree, based my quick look at the code, maybe adding h2o2 to the internal state could solve it. I'll just try adding that here real quick and see if it fixes the issue

[2022-05-02 18:08] amdasilva commented on #146
There was a reason why the 3 hour alarm was hardwired, as not to give the user the illusion that they could specify any other value. An easier solution may involving changing the way we handle these oxidants.  They this oxidant recycling always apperead contrived in my opinion. So, stop trying to find a way to address this in code. There is no deep mandate to keep this algorithm. Let us discuss th

[2022-05-03 12:55] tclune commented on #146
At the bare minimum - if the 3 hour cannot be changed and it is not safe to checkpoint at other intervals, then invalid start/checkpoint times must be detected and provide a clear failure message.    Getting plausible but incorrect results is (almost) the worst possible failure.

[2022-05-03 13:05] bena-nasa commented on #146
I tried for quite a while yesterday to fix this. I think there are two issues.
1. The alarm created needs the reference time to be set to a fix time each day not the model start time.
2. This 3 hourly field needs to be checkpointed.

Looking at the code I thought this would be trivial. Unfortunately we have another case of ESMF alarms not functioning properly. I tried setting the initial ringtime

[2022-05-05 15:42] mathomp4 opened #147 "Make OPS Emissions a directory like AMIP/AMIP.20C?"
This is a question for @amdasilva just from my own thoughts.

Currently in, say, CA2G we have:

[code]
where the OPS emissions files are the ones in the main directory. What I'm wondering is might there be a benefit to having instead:
[code]

We still use symlinks to prevent code duplication, but now it's a bit more obvious that some files belong to the OPS emissions without knowledge that the "ma

[2022-05-05 18:17] mmanyin commented on #147
@mathomp4 This is an attractive solution to the current asymmetry;  it would more clearly delineate the set of files specifically designated for OPS runs, and if a user wanted to update a particular resource file, they would not make the mistake of editing (for example) the version of the file in RC/  when they really meant to change the version under RC/AMIP.

[2022-05-06 13:56] jkbk2004 commented on #127
@weiyuan-jiang @mathomp4 @junwang-noaa a set of hpc-stack with gnu10.2/mpich3.3.2 available on orion at module use /work/noaa/epic-ps/jongkim/tools/hpc-stack-1.2.0/modulefiles/stack/

[2022-05-10 13:27] weiyuan-jiang commented on #127
@jkbk2004 , I cannot access your module. Can you change the access mode for that folder?

[2022-05-11 16:30] weiyuan-jiang commented on #127
@jkbk2004 , No, I still cannot access your stack

[2022-05-11 17:59] jkbk2004 commented on #127
@weiyuan-jiang sorry! I think I just opened up to sub-directory level. I released all the way to /work/noaa/epic-ps/jongkim

[2022-05-11 18:17] weiyuan-jiang commented on #127
Would you please give me instructions how to use your module to build UFS? I only saw hpc/1.2.0 and am not sure what is in it. @jkbk2004

[2022-05-11 18:51] jkbk2004 commented on #127
@weiyuan-jiang I agree. I think if I can set up a sandbox (experiment or build case) to share with you, it will help a lot. let me have one or two days more. I will try to put a ufs-wm build case there, then we can tag up for q quick headsup.

[2022-05-12 03:54] jkbk2004 commented on #127
@weiyuan-jiang an experiment sandbox was created tor the ufs-wm S2SA. You can check the error message at  /work/noaa/epic-ps/jongkim/rt-gnu10.2/stmp/jongkim/FV3_RT/rt_321634/cpld_debug_p8/err

[2022-05-12 14:47] jkbk2004 commented on #127
@weiyuan-jiang it complains syntax error with direct insertion of  source = MAPL_Cap into allocate line. can you check? /work/noaa/epic-ps/jongkim/rt-gnu10.2/stmp/jongkim/FV3_RT/rt_442372/compile_001/err and /work/noaa/epic-ps/jongkim/UFS-RT-tests/rt-gnu10.2/GOCART/ESMF/UFS/Aerosol_Cap.F9

[2022-05-12 14:54] weiyuan-jiang commented on #127
Sorry, we should remove (_RC). The line should be allocate(is % wrap % maplCap, stat=stat, source = MAPL_Cap("MAPL Driver", aerosol_routine_SS, cap_options=maplCapOptions ))

[2022-05-12 15:25] jkbk2004 commented on #127
it is moving but crash at mapl config:  /work/noaa/epic-ps/jongkim/rt-gnu10.2/stmp/jongkim/FV3_RT/rt_19497/cpld_debug_p8/err

[2022-05-12 18:10] weiyuan-jiang commented on #127
I am able to build ufs-model with gnu now. Can you teach me how to run it?  I even cannot find mpirun or mpiexec. @jkbk2004

[2022-05-12 18:35] jkbk2004 commented on #127
I think you can utilize job_card at /work/noaa/epic-ps/jongkim/rt-gnu10.2/stmp/jongkim/FV3_RT/rt_19497/cpld_debug_p8/job_card

[2022-05-12 18:36] jkbk2004 commented on #127
take a look and let me know if you want to tag up

[2022-05-12 20:04] weiyuan-jiang commented on #127
I copy your folder and change the job_card by running
srun --label -n 120 /home/wjiang/work/ufs-weather-model/gnu_build/ufs_model

It crashes and you can find error /home/wjiang/work/cpld_debug_p8/err

Before I compiled, I export CMAKE_FLAGS="-DAPP=ATMAERO -DCCPP_SUITES=FV3_GFS_v16" .

[2022-05-12 21:50] jkbk2004 commented on #127
can you give a try?
-DAPP=S2SA -DDEBUG=ON -DCCPP_SUITES=FV3_GFS_v17_coupled_p8 -DMPI=ON -DCMAKE_BUILD_TYPE=Deb
ug -DMOM6SOLO=ON

[2022-05-12 21:51] jkbk2004 commented on #127
or I can pass a regression test set up script.

[2022-05-13 11:52] weiyuan-jiang commented on #127
So my fix is right ( At least for gcc 10.2.0). I will make a pull request to "fix" GOCART.   Now the problem moves to a fixed bug . Here is the closed issue  https://github.com/GEOS-ESM/MAPL/issues/951

That means you need to upgrade MAPL.  @jkbk2004 @tclune @junwang-noaa

[2022-05-13 12:36] mathomp4 commented on #127
It looks like this fix was included in MAPL 2.12.0

[2022-05-13 12:38] jkbk2004 commented on #127
@mathomp4 @junwang-noaa @weiyuan-jiang I will give a try with mapl-2.12

[2022-05-17 00:55] jkbk2004 commented on #127
@weiyuan-jiang It moves further but crashes with some esmf error messages: /work/noaa/epic-ps/jongkim/rt-gnu10.2/stmp/jongkim/FV3_RT/rt_196668/cpld_debug_p8/err, Do you think it will be worth to try newer versions of esmf? we are using esmf/8.3.0b09

[2022-05-17 12:14] mathomp4 commented on #127
@jkbk2004 ESMF 8.3.0b09 is what we are currently using even in development, so that should be fine. It seems to be a more gFTL-like issue when trying to print:
[code]

[2022-05-17 12:22] jkbk2004 commented on #127
@mathomp4 we are using gftl-shared/v1.4.1.

[2022-05-17 14:13] weiyuan-jiang commented on #127
There is a mistake in your
change of   /work/noaa/epic-ps/jongkim/UFS-RT-tests/rt-gnu10.2/GOCART/ESMF/UFS/Aerosol_Cap.F90

line 355-356 should allocate tracers not mapl_cap

allocate(is % wrap % tracers, stat=stat, source = &
      AerosolTracer(cap % get_cap_rc_file(), tracerInfo, rc=rc))

[2022-05-18 21:17] jkbk2004 commented on #127
@weiyuan-jiang can you take a look at the err file?/work/noaa/epic-ps/jongkim/rt-gnu10.2/stmp/jongkim/FV3_RT/rt_437649/cpld_debug_p8

[2022-05-18 21:18] jkbk2004 commented on #127
@weiyuan-jiang looks like crashing somewhere at esmf

[2022-05-19 15:01] mathomp4 commented on #127
@jkbk2004 It seems to be crashing on this code:

[code]

And I think you have found a bug! Must be one of those "Intel allows it for some reason" things.

It looks like `du_src` is only for Ginoux and K14 schemes:
[code]
but I think you are running Fengsha. But, that line above is run for *all* schemes...and you have no `du_src` pointer if Fengsha.

The correct thing would be to move that chunk of

[2022-05-19 15:15] weiyuan-jiang commented on #127
I am just about writing an issue on this. The codes are not robust.

[2022-05-19 15:22] weiyuan-jiang opened #148 "du_src is null when scheme is not 'k14' or 'ginoux'"
It would crash here  https://github.com/GEOS-ESM/GOCART/blob/821ef40859d6155c8594668e6261c97c49a935bc/ESMF/GOCART2G_GridComp/DU2G_GridComp/DU2G_GridCompMod.F90#L745

[2022-05-19 15:22] mathomp4 commented on #127
@weiyuan-jiang I don't think that will work. The issue is `DU_SRC` isn't even *declared* with Fengsha since the statespecs (aka ACG) never makes a declaration, so you can't even nullify anything.

I think the best way I can think of is:
[code]
or an equivalent if-block.

You can only ever do anything on `du_src` for those two cases.

[2022-05-19 15:25] weiyuan-jiang commented on #127
That is not my statement. It is from generated DU2G_GetPointer___.h

[2022-05-19 15:26] weiyuan-jiang commented on #127
That means we need to correct the way how DU2G_GetPointer___.h  is generated

[2022-05-19 15:26] mathomp4 commented on #127
Ohh. Hmmm. Then I guess you could do:
[code]

[2022-05-19 15:29] weiyuan-jiang commented on #127
Yes, that is enough. The pointer has been declared in DU2G_DeclarePointer___.h  . So we don't need to worry about changing other codes.

[2022-05-19 15:31] weiyuan-jiang commented on #127
@jkbk2004 , let's take Matt's suggestion and see if it can finish the run

[2022-05-19 23:01] jkbk2004 commented on #127
@mathomp4 @weiyuan-jiang I tried those if conditions. It seems crashing at same point: /work/noaa/epic-ps/jongkim/rt-gnu10.2/stmp/jongkim/FV3_RT/rt_437649/cpld_debug_p8/err.

[2022-05-19 23:29] weiyuan-jiang commented on #127
I guess you forget to re-compile @jkbk2004

[2022-05-19 23:55] jkbk2004 commented on #127
@weiyuan-jiang I ran again. Same errors.

[2022-05-19 23:55] weiyuan-jiang opened #149 "the pointer association should be checked"
https://github.com/GEOS-ESM/GOCART/blob/27793f42421e82894d6668f20cd306fb9acb3f94/Process_Library/GOCART2G_Process.F90#L3338-L3614

It is not enough to check if (present(....)) . Some null-pointers are passed in so the association should be checked to avoid crashing when assigning values to them.

[2022-05-20 00:05] weiyuan-jiang commented on #127
@jkbk2004
I run successfully here  /home/wjiang/work/cpld_debug_p8
You will need to change the file /home/wjiang/work/ufs-weather-model/GOCART/Process_Library/GOCART2G_Process.F90

The error must not be the same.

[2022-05-20 00:07] weiyuan-jiang commented on #127
Line 745 is a comment line. That is why I think you didn't re-build or didnot build sucessfully
/work/noaa/epic-ps/jongkim/UFS-RT-tests/rt-gnu10.2/GOCART/ESMF/GOCART2G_GridComp/DU2G_GridComp/DU2G_GridCompMod.F90:745

[2022-05-20 00:12] weiyuan-jiang commented on #127
My change of GOCART2G_Process.F90 is related to this issue #149

[2022-05-20 00:22] jkbk2004 commented on #127
@weiyuan-jiang submitted job again. crossed finger^^

[2022-05-20 01:19] jkbk2004 commented on #127
@weiyuan-jiang @mathomp4 @junwang-noaa Awesome! It ran successfully. So we need changes at three routines, right?  DU2G_GridCompMod.F90, Aerosol_Cap.F90, GOCART2G_Process.F90

[2022-05-20 02:27] junwang-noaa commented on #127
Awesome, thank you all for making it working! @weiyuan-jiang @mathomp4 will you submit a PR to GEOS-ESM/GOCART repo?

[2022-05-20 12:50] weiyuan-jiang commented on #127
Yes, I will. But we will have to wait for PR #138 .  After that, ufs needs to update MAPL and possibly gFTL v2

[2022-05-23 15:09] bena-nasa opened #151 "Timer issue with develop branch (it's still broken... )"
The gocart develop branch is still broken. Something appears to be broken with the timers as develop:
[code]

[2022-05-23 15:28] weiyuan-jiang commented on #151
This may not be caused by the timer.  Because of this bug, the timer skip the initialization step and crash.  please try this branch.[ ](https://github.com/GEOS-ESM/GOCART/tree/feature/wjiang/bugs_with_namechanging)

[2022-05-23 15:29] weiyuan-jiang commented on #151
#138

[2022-05-26 14:57] amdasilva opened #154 "Add AOP/AOD calculators using new Mie Module"
This is a replacement to what exists on Chem_Base right now.

[2022-05-26 18:34] bena-nasa opened #155 "Did not realize AMIP gocart2G emissions had a "magic date""
I did not realize the the AMIP gocart2G emissions had a magic date just like merra2 did. I need to update the AMIP files to handle that in the files as the whole point of ExtData2G among other things was to get rid of these script level "magic dates"

[2022-05-26 20:45] bena-nasa opened #156 "GOCART develop crashing with out of bounds error after updates"
After the PR merged into develop today, when I tried using the gocart develop branch, it crashed with this out of bounds error when using the "debug" build:
[code]
The odd thing is that if you examine the code, it seems like it should be protected from getting there
[code]
I tried changing the continue to cycle, thinking that maybe it was that but same behaviour. Will continue investigating.

[2022-05-26 21:07] tclune commented on #156
Next step is to either explicitly print the lbounds of the arrays involved or to run under the debugger to see the same.

Am guessing that `dpfli` might be an "edge" variable which starts at 0?  Not that this would explain things.

Also - please edit your initial message above to include compiler + version.  Am suspecting a compiler bug.

[2022-05-26 21:28] bena-nasa commented on #156
Hmm, maybe the cycle did do, I think I was rebuilding in the optimized build. Just rebuilt the debugged build and put the cycles in and it runs. So either it was the continue or we have a Heisenbug. I take a fresh look at this in the morning.

[2022-05-26 21:30] tclune commented on #156
Hmm - I'd not even noticed that it said `continue` rather than `cycle`.     The former should have been a syntax error, so maybe you ran without a new executable until that was fixed?

[2022-05-27 11:53] weiyuan-jiang commented on #136
fixed and merged

[2022-05-27 11:53] #136 closed

[2022-05-27 12:20] weiyuan-jiang commented on #149
In the latest version, those arguments are not pointers any more. So I assume they have been allocated if they are present. Nothing is done so far. We will wait and see if NOAA's ufs is working with the latest version.

[2022-05-27 13:00] weiyuan-jiang commented on #156
@tclune @bena-nasa I amy introduce this bug. Let me take a took. It may be "exit" instead of cycle

[2022-05-27 13:19] bena-nasa commented on #156
Yep, there were 4 continue statements that should have been cycle. Will make PR to fix

[2022-05-27 13:20] weiyuan-jiang commented on #156
@bena-nasa @tclune I am sorry I messed up with  C++'s "continue". The four "continue" statement should be 'cycle'.

[2022-05-27 13:37] tclune commented on #156
No problem.  It is just unfortunate that it is not a syntax error.  Usually such other-language constructs are caught by the compiler.

[2022-05-27 16:37] bena-nasa commented on #146
@tclune @amdasilva @rmontuoro
To summarize the issues:
1. This needs to be the ringtime that is set 0z of the current day rather than the current time of the clock: https://github.com/GEOS-ESM/GOCART/blob/v2.0.7/ESMF/GOCART2G_GridComp/NI2G_GridComp/NI2G_GridCompMod.F90#L403
2. This internal variable that is updated by the import periodically needs to be checkpointed if there is any possibility of

[2022-05-27 17:26] mathomp4 commented on #156
Now that I understand the issue (I totally missed it yesterday looking at it with Ben because I guess I was in Python land...where `continue` is the right thing), it is annoying this isn't caught by the compiler. But, well, per the Standard:

Since `CONTINUE` literally does nothing, I guess you can have them anywhere as long as it doesn't have a label at the front!

[2022-05-27 17:57] weiyuan-jiang commented on #127
can you let me access /work/noaa/epic-ps/jongkim/tools/gnu11.3-hpc-stack-1.2.0/   and where is your source code of MAPL?

[2022-05-27 18:09] jkbk2004 commented on #127
@weiyuan-jiang I released permission here /work/noaa/epic-ps/jongkim/tools/gnu/11.3.0

[2022-05-27 18:18] mathomp4 commented on #127
@jkbk2004 We believe you have found another bug! Congrats. 😄

We'll probably need to issue a MAPL 2.12.3 (and patch our `main`), but would it possible for you to test it out locally?

Our proposed fix is for you to edit `MAPL/gridcomps/Cap/MAPL_CapGridComp.F90` and go to around line 337 which looks like:

[code]

Before that `if (.not.cap_clock_is_present) then` line, add:
[code]
The issue is that

[2022-05-27 18:20] jkbk2004 commented on #127
Sure! I will test out.

[2022-05-27 22:11] jkbk2004 commented on #127
still crashing somewhere /work/noaa/epic-ps/jongkim/tools/hpc-stack/pkg/mapl-2.12.2/gridcomps/Cap/MAPL_CapGridComp.F90
err is at /work/noaa/epic-ps/jongkim/rt-gnu11.3/stmp/jongkim/FV3_RT/rt_354928/cpld_debug_p8/err

[2022-05-28 12:34] weiyuan-jiang commented on #127
@jkbk2004 This is exactly the same. Please make sure you rebuild MAPL.

[2022-05-28 21:54] jkbk2004 commented on #127
After rebuild MAPL again, it ran successfully: /work/noaa/epic-ps/jongkim/rt-gnu11.3/stmp/jongkim/FV3_RT/rt_1689/cpld_debug_p8/out

[2022-05-31 11:29] mathomp4 commented on #127
@jkbk2004 Nice! I'll work on getting a MAPL 2.12.3 with this fix out for you.

[2022-06-09 12:18] #156 closed

[2022-06-09 12:18] #129 closed

[2022-06-09 12:19] #117 closed

[2022-06-09 12:19] #106 closed

[2022-06-09 12:21] mathomp4 opened #161 "GOCART components and CI need to be updated"
We've noticed some issues with out-of-date CI in other repos, and GOCART CI is still using the 0.13 orb. This should be updated to v1.

Also, the components are now slightly out of date with the current GEOSgcm, so I can bring that up to date too.

[2022-06-16 17:11] tclune opened #163 "Documentation of RC files requested"
Our NOAA partners have requested more thorough documentation of the options presented in the various GOCART rc files.   They did not request any specific format, but presumably something that could be referenced by scientists without delving into source code.

@rmontuoro

[2022-06-16 20:24] bena-nasa commented on #151
This is fixed now

[2022-06-16 20:24] #151 closed

[2022-06-17 18:59] bena-nasa commented on #146
@amdasilva @pcolarco @tclune
Well, I'm flabbergastered. As originally reported here, there is a hard coded alarm in the nitrate component, that if you do not run your segments so they start and stop when the alarm is ringing, you can not get start/stop regression.

As I said, I thought there were 2 issues, 1 the alarm was just being created in a bad way, and needed to be relative to the same time

[2022-06-17 21:02] bena-nasa commented on #146
Ok, I figured out how to fix this, mystery solved. The bottom line is
1. The code in Sulfate and Nitrate will never pass a regression test unless the execution is exaction a multiple of the alarm segment. They are just coded wrong.
I've committed the proper way this these routines should have been coded on this branch:
https://github.com/GEOS-ESM/GOCART/tree/feature/bmauer/allow_arbitary_start_and

[2022-06-23 16:48] zhanglikate commented on #163
@tclune Also, about the imported Met. fields to GOCART, do you also have documentation that can help us to understand some details? For instance, the following 2 Met. variables in the " subroutine WetRemovalGOCART2G ", what are they exactly representing, total precipitation flux or only the precipitating flux?  Especially  in our  micro physics scheme which may be different to yours, better to und

[2022-06-23 17:35] tclune commented on #163
@pcolarco or @amdasilva  Can either of you answer this question?  Should be easy.

[2022-06-23 18:25] pcolarco commented on #163
I don't really understand the distinction @zhanglikate is making. It is the 3d precipitation flux at grid level edges. The comment in the code seems as complete as what I see in GEOS_MoistGridComp.F90, where the field is defined. Hope this helps.

[2022-06-23 18:39] zhanglikate commented on #163
@tclune @pcolarco Yes. We don't have the full of GEOS repo. Please let me know how to checkout it if we are allowed to do that. Thanks.

[2022-06-23 18:41] pcolarco commented on #163
@tclune Can you help? Or do they have access to discover to just look at it?

[2022-06-23 18:46] mathomp4 commented on #163
You can see the Moist Gridded Component here: https://github.com/GEOS-ESM/GEOSgcm_GridComp/blob/develop/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSmoist_GridComp/GEOS_MoistGridComp.F90

[2022-06-23 19:07] tclune commented on #163
@mathomp4 Thanks.
@pcolarco  Thanks - I had assumed that if it mattered then GOCART would be "aware" of the details.

[2022-06-23 19:10] zhanglikate commented on #163
Thanks very much.

[2022-06-24 16:17] tclune commented on #163
@dbarahon Can you look at the question above in this ticket about some moist quantities that are imported into GOCART.   NOAA may have follow up questions, so it will also be useful if you could agree to some telecon at some point.

[2022-06-24 16:22] dbarahon commented on #163
Hi Tom,

I can’t see the rest of the ticket (only your email). But sure we can telecon  if there are questions about gocart and moist.

I am available until 3 today or between 11 and 3 next week.

Donifan

From: Tom Clune ***@***.***>
Reply-To: GEOS-ESM/GOCART ***@***.***>
Date: Friday, June 24, 2022 at 12:18 PM
To: GEOS-ESM/GOCART ***@***.***>
Cc: "Barahona, Donifan (GSFC-6101)" ***@***.***>, Men

[2022-06-24 17:13] dbarahon commented on #163
@wmputman may comment on GFDL MP, I am not sure about the details of the implementation.

[2022-07-01 14:21] junwang-noaa opened #165 "Add SetVm in ESMF/UFS/Aerosol_Cap.F90 for ESMF managed threading capability."
We are adding the ESMF managed threading in UFS weather model. Two lines of code need to be added to ESMF/UFS/Aerosol_Cap.F90.
[code]

Could these two lines be added in the GOCART code? We expect no impact on the GOCART that does not use the ESMF managed threading. Thanks.

[2022-07-01 14:25] junwang-noaa commented on #165
@tclune @weiyuan-jiang @theurich FYI.

[2022-07-01 14:28] tclune commented on #165
@junwang-noaa I'm sure we can add those lines - but it may take some time before it appears in a release.

At first glance, it would appear that SetVM is not used, so I don't really see why these lines would matter.   Is it anticipation of further changes where SetVM is used?   In which case, maybe it is better to wait for those?

[2022-07-01 14:32] junwang-noaa commented on #165
@tclune This is the exact question I had. Here is the answer from Gerhard: we do still need the public SetVM for GOCART. The reason is that it is through this mechanism the GOCART code  runs on exactly the same PETs as the threaded FV3 FCST component. This is important for the reference sharing between FCST and GOCART. It would not otherwise work under the ESMF-managed setup, where each component

[2022-07-01 14:40] theurich commented on #165
@tclune The SetVM is unsed under UFS. Notice that the GOCART cap change use associates SetVM with the generic version from NUOPC_Model, and makes it public. This is how the UFS driver can access it. This generic SetVM looks at [the defined NUOPC attributes](https://earthsystemmodeling.org/docs/nightly/develop/NUOPC_refdoc/node3.html#SECTION00037000000000000000), to handle the resource management f

[2022-07-01 14:57] tclune commented on #165
OK - so you are saying that the Aerosol_Cap is simply re-exporting a NUOPC entity so that some other layer (GOCART CAP) has access.  Wouldn't it make more sense to put the USE statement in GOCART CAP instead?      Seems odd to put it in a module that does not do anything with it.

[2022-07-01 17:01] mathomp4 commented on #165
@junwang-noaa Please see https://github.com/GEOS-ESM/GOCART/pull/166

[2022-07-01 17:04] junwang-noaa commented on #165
@mathomp4 Great, thank you!

[2022-07-12 23:14] mpagowski opened #167 "introducing perturbations to GOCART2G"
At NOAA we are developing ensemble DA for UFS-Aerosols model that relies on GOCART2G.
In the past we developed perturbations to emissions for GEFS-Aerosols model (an older NOAA model) using a scheme called SPPT that creates spatially and temporally correlated patterns. This scheme was developed at ECMWF to parameterize model errors and was shown to have benefits for ensemble data assimilation at t

[2022-07-13 12:19] mathomp4 commented on #167
@mpagowski A note: we do have a code in GMAO_Shared, GMAO_stoch, that has an `sppt.rc` file in it:

https://github.com/GEOS-ESM/GMAO_Shared/tree/main/GMAO_stoch

so perhaps GEOS as *a* version of SPPT, if not the same version you use.

NOTE: You might not see it in the GMAO_Shared that GOCART brings in because it is [currently sparsed out](https://github.com/GEOS-ESM/GOCART/blob/main/config/GMAO_S

[2022-07-13 22:07] mpagowski commented on #167
@mathomp4: thanks for pointing me to the stochastic code. It looks very similar to what exists at NOAA. It seems that bringing perturbations to GOCART2G would be much simpler than I expected.  Then the question is if NASA is interested in such modifications to GOCART2G and would allow us to do it.

[2022-07-18 12:29] mathomp4 commented on #167
I suppose this is a question for @amdasilva and @pcolarco at least. Maybe even @elakkraoui and @rtodling as it is DA-related (though maybe not in their bailiwick).

[2022-08-16 18:53] bbakernoaa opened #171 "Problem in the nitrogen component when number of DU or SS bins are modified"
After running an experiment changing the number of dust bins I noticed that the output AOD_NI is all NaNs.  This is due to the `NIheterogenousChem` call being hard coded for the number of dust and seasalt bins, which can be seen [here](https://github.com/GEOS-ESM/GOCART/blob/bb4eb2c42c3b0b290b6113dc4c628400e526ac6a/ESMF/GOCART2G_GridComp/NI2G_GridComp/NI2G_GridCompMod.F90#L807-L813)

[code]

Sugge

[2022-08-19 18:17] bena-nasa opened #172 "Logicals should not be quoted in yaml files"
A few of the ExtData2G yaml files have a quoted false, like so
[code]
That needs to be
[code]
so that the Fortran yafyaml parser doesn't interpret it as a string when trying to assign to a logical.

[2022-08-23 13:27] mathomp4 opened #176 "Building GOCART in UFS with spack-stack: cannot find esmf.mod"
### Discussed in https://github.com/GEOS-ESM/GOCART/discussions/174

<div type='discussions-op-text'>

<sup>Originally posted by **benjamin-cash** August 19, 2022</sup>
Hello,

Hopefully this is the right place to ask this question. :) Like the title says, I am trying to build GOCART as part of the ufs, using spack-stack, and I am running into the following error:

/work2/02441/bcash/frontera/ufs-

[2022-08-23 16:23] pcolarco commented on #171
Well, this will solve that immediate problem. However it doesn't really address the hard-wiring. There is a presumption in the code that maps the heterogeneous rates calculated for dust and sea salt per bin to production terms to the 3 nitrate size bins. That requires a more thoughtful solution to properly map (arbitrary) dust and sea salt bins appropriately. But I suppose what you've got now does

[2022-08-23 19:29] pcolarco opened #178 "Maring correction for dust settling"
The implementation of the Maring correction to the dust settling velocity is changed in GOCART2G from Legacy code. Previously the settling correction was applied as:
    if(present(correctionMaring)) then
     if ((correctionMaring) .and. (radiusInp(n) .le. (0.5*diameterMaring))) then
       vsettle = max(1.0e-9, vsettle - v_upwardMaring)
     endif
    endif
where the correction is only applied t

[2022-08-23 20:28] amdasilva commented on #172
This issue has been dealt with.

[2022-08-23 20:29] #172 closed

[2022-08-23 20:30] amdasilva commented on #171
A better solution is needed. Current fix avoids NaNs but does not work properly in the more general case (according to Pete).

[2022-08-23 20:31] amdasilva commented on #167
Putting this on hold while we make a release for GEOS-FP.

[2022-08-23 20:33] #165 closed

[2022-08-23 20:34] #161 closed

[2022-08-23 20:38] amdasilva commented on #132
Although ExtData.yaml is implemented it is not the default and still needs testing.

[2022-08-23 20:40] amdasilva commented on #128
We need a meeting to discuss this.

[2022-08-23 20:43] amdasilva commented on #127
Closing this issue as new version of MAPL seems to have done the trick.

[2022-08-23 20:43] #127 closed

[2022-08-23 20:46] amdasilva commented on #111
Closing this issue since it has been dormant since March.

[2022-08-23 20:46] #111 closed

[2022-08-23 20:47] amdasilva commented on #93
This seems to have been done.

[2022-08-23 20:47] #93 closed

[2022-08-23 20:48] amdasilva commented on #32
OK, fair enough. This is addressed.

[2022-08-23 20:48] #32 closed

[2022-08-23 20:49] amdasilva commented on #149
No action since May. Closing it for now.

[2022-08-23 20:49] #149 closed

[2022-08-23 20:57] amdasilva commented on #163
This is kind of an unfocused issue entry.  Closing it for now as the conversations seem to have clarified the questions. As a matter of principle, rc files should be documented. On-line commends help, but we are yet to come up with an approach for documenting it more fully, in complete sentences. Having a ProTeX action dealing with rc files could work.

[2022-08-23 20:57] #163 closed

[2022-08-23 20:58] amdasilva commented on #70
@tclune Is this something to be done now?

[2022-08-23 21:04] tclune commented on #70
@amdasilva I think we _can_ do it with relative ease at any point.  Relatively simple CMake surgery.

@atrayano did recently do something like this with MIT ocean, and got different answers which gave us pause; so we'd best double check that there are no surprises with GOCART.

I can add it to the backlog for @weiyuan-jiang

[2022-08-24 17:46] #176 closed

[2022-08-25 17:11] weiyuan-jiang commented on #70
There seems already no dependency of gorcar2g on its children
https://github.com/GEOS-ESM/GOCART/blob/4c941791d3d1fbea65dd5d2be330ada8c4951036/ESMF/GOCART2G_GridComp/CMakeLists.txt#L24-L29

[2022-08-30 15:36] adarmenov commented on #178
I cannot comment on what is in G2G as I am not directly involved in this effort. That said the new G2G settling code was probably copied from my GOCART dev branch. I stand behind the implementation of the Maring correction in my branch.

Below are excerpts from Marring's paper that I can summarize in a single sentence -- **they did not find evidence that the (unknown) mechanism counteracting the s

[2022-09-06 13:15] bena-nasa commented on #132
@amdasilva @vbuchard
Assuming we have a full geosgcm release from @sdrabenh that now includes this new gocart release, we should all you need to do is set
[code]
in the CAP.rc to use it. We have modified gcm_setup/gcm_run.j to handle the new ExtData.
In my testing it has been zero-diff. The only exception would be if you cross a "magic date", as this is handled internally in ExtData2G rather than

[2022-09-06 14:25] weiyuan-jiang commented on #70
@tclune , what is the specific issue here?

[2022-09-06 14:46] tclune commented on #70
The use statements here should go away:

https://github.com/GEOS-ESM/GOCART/blob/4c941791d3d1fbea65dd5d2be330ada8c4951036/ESMF/GOCART2G_GridComp/GOCART2G_GridCompMod.F90#L20-L24

Need to use add child via DSO interface.

[2022-09-06 16:29] aoloso opened #181 "Component level hybrid MPI/OpenMP"
Changes have been made to GOCART2G to support component level hybrid MPI/OpenMP. Affected files are *_GridCompMod.F90, and NI2G_StateSpecs.rc, SS2G_StateSpecs.rc, SU2G_StateSpecs.rc, and and the various CMakeLists.txt files.

*_GridCompMod.F90 were modified to ensure thread safety and thread private variables are handled correctly.

CMakeLists.txt files are modified to have a switch to enable Open

[2022-09-13 17:59] pcolarco commented on #154
Has been implemented in GOCART 2.1.0

[2022-09-13 17:59] #154 closed

[2022-09-14 14:14] vbuchard opened #183 "Add various aerosol exports"
- add exports for total extinction and scattering coefficient profiles needed for JEDI exp and chemistry group
- add total (molecular + aerosols) single scattering attenuated backscatter coefficient for PBL modeling group

[2022-09-14 14:28] rmontuoro opened #184 "Unnecessary yaFyaml dependency in GOCART build system"
yaFyaml is not needed to build GOCART. However, the following dependency is included in the build system:
https://github.com/GEOS-ESM/GOCART/blob/e59ddd490f3bc413465317a89e5684cee68de8e8/CMakeLists.txt#L64

[2022-09-14 14:33] mathomp4 commented on #184
Ah. Nuts. Yeah. We probably need a "build like UFS" build test here as well.

@rmontuoro In MAPL we handle this via `USE_EXTDATA2G`. I'm guessing you are building MAPL with `-DUSE_EXTDATA2G=NO`?

[2022-09-14 14:37] rmontuoro commented on #184
@mathomp4 - yes, we build MAPL with `-DUSE_EXTDATA2G=NO` in the UFS.

The yaFyaml dependency is required by MAPL though, not GOCART.

[2022-09-14 14:44] mathomp4 commented on #184
True. Indeed, there seem to be a lot of unneeded `find_package` in GOCART:

https://github.com/GEOS-ESM/GOCART/blob/4c941791d3d1fbea65dd5d2be330ada8c4951036/CMakeLists.txt#L61-L64

Those are needed by MAPL, not GOCART. @rmontuoro if I make up a hotfix patch, can you test it?

[2022-09-14 14:46] rmontuoro commented on #184
@mathomp4 - sure. Thanks!

[2022-09-14 14:49] mathomp4 commented on #184
@rmontuoro Can you actually tell me exactly how you are building MAPL now? That is what CMake options? I should capture that.

[2022-09-14 14:52] rmontuoro commented on #184
Here they are:
https://github.com/NOAA-EMC/hpc-stack/blob/74a20edac33e66b59aa82fed47c7b8189c14363c/libs/build_mapl.sh#L69-L78

[2022-09-14 15:18] mathomp4 commented on #184
@rmontuoro Okay can you try the `hotfix/mathomp4/184-ufs-cmake-fix`? (see #185)

[2022-09-14 15:22] mathomp4 commented on #184
@rmontuoro Actually, another question: what version of GOCART are you using? My draft PR is based on our `main` which is 2.1.0, but if you still use an older version, I'll need to hotfix that too.

[2022-09-14 15:40] rmontuoro commented on #184
@mathomp4 - Thank you.
We are currently using rev. a342b1b215 in the [ufs-weather-model](https://github.com/ufs-community/ufs-weather-model)

[2022-09-14 16:03] mathomp4 commented on #184
Ah. Good then we can (for now) just hotfix 2.1.0 since you are (essentially) on that. I'm doing testing now and will coordinate with @amdasilva about getting a v2.1.1 out for you.

[2022-09-14 21:23] rmontuoro commented on #184
@mathomp4 - `hotfix/mathomp4/184-ufs-cmake-fix` built successfully in the UFS after minor modifications listed in https://github.com/GEOS-ESM/GOCART/pull/185#issuecomment-1247314269

[2022-10-07 16:34] #184 closed

[2022-10-20 14:57] acollow opened #194 "Implement self consistent growth factors for PM2.5"
Surface PM2.5 is currently computed at 35% and 50% relative humidity using pre-determined growth factors to account for the mass of water within the aerosol. This calculation is also done without distinguishing between hydrophylic and hydrophobic carbon. Using the density provided in the species RC file and the curve for effective radius in the monochromatic optics files, growth factors will be co

[2022-11-14 21:42] bena-nasa opened #196 "GAAS"
Just making a meta issue here for reference. As the issues exposed in GAAS with the latest model are fundamentally an issue with GAAS.

GAAS was modified to use ExtData. This was a serious that should not have been done without a new feature request for ExtData and the change  was apparently not tested.

The issue is that before, if turned on, GAAS would literally decide whether to perform whateve

[2022-11-29 20:35] vbuchard opened #197 "Update of EXTDATA.yaml files"
- For OPS configuration: removal of links, change from vNRT/ to v2.5r1-nrt/ (note after November 2021, files are v2.6r1)
- For AMIP configuration: update from v2.5r1 to v2.6r1
- Update of climatological paths from MERRAero to MERRA-2
- QFED paths in Achem updated in a separate GEOSchem_gridcomp PR